.changeBackgroundColor{
    background-color: #c00;
}
.changeColor{
    color: #c00 !important;
}
.changeBorderColor{
    border-color:#c00 !important;
}
.lists-left{
    background-color: #fff;
}

.header-menu-tabs{
    background: #425563 !important;
}
.B425563{
    background: #425563 !important;
}
.search-input{
    border-radius: 20px;border: 1px solid;
}
.agenda-ul li:first-child {
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}
.agenda-ul li:first-child {
    border-left: 1px solid #c00;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}
.agenda-ul li.active {
    background-color: #c00;
}
.agenda-ul li {
    border-right: 1px solid #c00;
    border-bottom: 1px solid #c00;
    border-top: 1px solid #c00;
    color: #c00;
}
.agenda-ul li:last-child {
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
}

.eContent-search .search-img{
    border-radius: 20px;
}
.eContent-btn {
    border: 1px solid;
    border-radius: 20px;
}
.attendees-search .search-img {
    border-radius: 20px;
}
.select {
    background-image: url(../image/AVAYA/AC_PartnersList5417_11_1_1.png);
    border-radius: 18px;
    border: 1px solid;
}
.travelLogistics-ul li.active{
    background-color: #c00;
}
.travelLogistics-ul li:first-child{
    border-left: 1px solid ;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}
.travelLogistics-ul li:last-child {
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
}
.travelLogistics-ul li{
    color:#c00;
}
.rowbj{
    top:45%;
    padding: 0 20px;
}
.homeListbj{

    padding: 0 20px;

}
.homeListbj  p{
    color:#fff;
}
.BC{
    background: #425563 !important;
}
.rightTwo{
    margin-right: 2px;
}
.leftTwo{
    margin-left: 2px;
}
.topTwo{
    margin-top: 2px !important;
}

.rowbj p{
    margin: 0;
    line-height: 14px;
}
.padding-no img{
    /*width: 100%;*/
}
.home-list{
    padding-top: 0;
}
.footer.open {
    height: 100%;
}
.footer-menu-tabs{}
.footer-menu-tabs div.active {
    border: 1px solid #fff !important;
}
.footer-menu-tabs p{
    color:#fff;
}
.eContent-btn {
    color:#000;
}

.cx-btn {
    line-height: 22px;
}
.release .release-bottm .right {
    /*border: 2px solid;*/
}
.release .release-bottm .right a{
    color:#000;
}
.logo div{
    background-image: url(../image/HPE/app_logo.png);
    width: 100%;
    background-repeat:no-repeat ;
    background-size: cover;
}
.navigation-bottom div a {
    color: #fff;
}
.navigation-bottom div{
    color: #fff;
}
.pollBottom a {
    width: 50%;
    color: #000 !important;
    font-weight: bold;
}
.agenda-search .search-input{
    border: 1px solid;
}

@media screen and (max-width: 475px){
    .home-slide, .home-slide .slider-slide {
        height: 200px;
    }
}

