.changeBackgroundColor{
    background-color: #138CD0;
}
.changeColor{
    color: #138CD0 !important;
}
.changeBorderColor{
    border-color:#138CD0 !important;
}
.search-input{
    border-radius: 20px;border: 1px solid;
}
.agenda-ul li:first-child {
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}
.agenda-ul li:first-child {
    border-left: 1px solid #138CD0;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}
.agenda-ul li.active {
    background-color: #138CD0;
}
.agenda-ul li {
    border-right: 1px solid #138CD0;
    border-bottom: 1px solid #138CD0;
    border-top: 1px solid #138CD0;
    color: #138CD0;
}
.agenda-ul li:last-child {
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
}

.eContent-search .search-img{
    border-radius: 20px;
}
.eContent-btn {
    border: 1px solid;
    border-radius: 20px;
}
.attendees-search .search-img {
    border-radius: 20px;
}
.select {
    background-image: url(../image/footer/partner_expand@2x.png);
    border-radius: 18px;
    border: 1px solid;
}
.travelLogistics-ul li.active{
    background-color: #138CD0;
}
.travelLogistics-ul li:first-child{
    border-left: 1px solid ;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}
.travelLogistics-ul li:last-child{
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
}