.changeBackgroundColor{
    background-color: #27B38A;
}
.changeColor{
    color: #27B38A !important;
}
.changeBorderColor{
    border-color:#27B38A !important;
}
.lists-left{
    background-color: #425563;
}
.header-title {
    background: #425563 !important;
}
.header-title h1{
    color:#fff;
}
.header-menu-tabs{
    background: #425563 !important;
}
.B425563{
    background: #425563 !important;
}
.search-input{
    border: 2px solid #27B38A !important;
}
.agenda-ul li:first-child {
    border-left: 2px solid #27B38A;
}
.agenda-ul li.active {
    background-color: #27B38A;
}
.agenda-ul li {
    border-right: 2px solid #27B38A;
    border-bottom: 2px solid #27B38A;
    border-top: 2px solid #27B38A;
    color: #000;
}
.eContent-search .search-img{

}

.rowbj{
    /*position: absolute;*/
    top:45%;
    padding: 0 20px;
}
.homeListbj{
    /*position: absolute;*/
    /*top:60%;*/
    padding: 0 20px;
    /*left: 11%;*/
}
.homeListbj  p{
    color:#fff;
}
.BC{
    background: #425563 !important;
}
.zfx{
    /*height: 90px;*/
    /*width: 90px;*/
}
.rightTwo{
    margin-right: 2px;
}
.leftTwo{
    margin-left: 2px;
}
.topTwo{
    margin-top: 2px !important;
}
.xbj{
    position: absolute;
    top: 44%;
    width: 100%;
}
.home {
    height: 100% !important;
}
.home-slide, .home-slide .slider-slide {
     height: 100% !important;
}
.home-slide, .home-slide .slider{
    height: 100% !important;
}
.rowbj p{
    margin: 0;
    line-height: 14px;
}
.padding-no img{
    /*width: 100%;*/
}
.home-list{
    padding-top: 0;
}
.footer.open {
    height: 100%;
}
.footer-menu-tabs{}
.footer-menu-tabs div.active {
    border: 1px solid #fff !important;
}
.footer-menu-tabs p{
    color:#fff;
}
.eContent-btn {
    border: 2px solid;
    color:#000;
    font-weight: bold;
}
.select {
    background-image: url(../image/HPE/search/AC_PartnersList5417_11_1_1.png);
    border: 2px solid;
    border-radius: 0px;
}
.travelLogistics-ul li.active{
    background-color: #27B38A;
}
.travelLogistics-ul li:first-child{
    border-left: 2px solid ;
}
.travelLogistics-ul li{
    border-right: 2px solid ;
    border-bottom: 2px solid ;
    border-top: 2px solid ;
    font-weight: bold;
}
.cx-btn {
    border: 2px solid;
    border-radius: 0px;
    color: #000 !important;
    line-height: 22px;
}
.release .release-bottm .right {
    border: 2px solid;
}
.release .release-bottm .right a{
    color:#000;
}
.logo div{
    background-image: url(../image/HPE/app_logo.png);
    width: 100%;
    /*background-size:100% 100%;*/
    background-repeat:no-repeat ;
    background-size: cover;
}
.navigation-bottom div a {
    color: #fff;
}
.navigation-bottom div{
    color: #fff;
}
.pollBottom a {
    width: 50%;
    border-radius: 0px;
    border: 2px solid;
    color: #000 !important;
    font-weight: bold;
}
@media screen and (max-width: 475px){
    .login .logo img {
        width: 50% !important;
    }
}

