@media screen and (max-width: 1030px){
	.home-slide,
	.home-slide .slider-slide{
		/*height: 260px;*/
	}
}
@media screen and (max-width: 900px){
	.header{width: 100%;}
	.header-title{width: 100%;}
	.header-menu-tabs.open{    right: 0px;}

}
@media screen and (max-width: 475px){
	body{font-size: 13px;}
	.header h1{font-size: 16px;}
	.home-list .home-list-img {height:80px;}
	.cisco-logo {
		/*padding-top: 20px;*/
		/*height: 81px;*/
	}
	.lists .list .list-right-go{    margin-top: 70px;width: 30px;}
	.lists .list .newRow .list-right-go{    margin-top: 10px;width: 30px;}
	.open-lists .lists-right img{width: 30px;height: 30px;}
	.lists .list .list-right{text-align: left;padding: 0px;}
	/*.loginLeftImg,.header-menu{background: none;}*/
	.lists .lists-right-go{width: 30px;    }
	 .lists p{margin-bottom: 5px;}
	 .container {padding: 0px;}
	 .home-slide,
	.home-slide .slider-slide{
		 /*height: 180px;*/
	 }
	.home-slide:hover .modal-img{display: none;}
	.footer-menu-tabs .col-xs-2 p{font-size: 12px;     margin-top: -7px;   transform: scale(0.7);color: #666;margin: 0px;}
	.login .logo img{width:40%;}
	.select{
		background-size: 14%;
	}
}
@media screen and (max-width: 400px){
	body{font-size: 12px;}
	.home-list .home-list-img {height: 70px;}
	
	.header h1{font-size: 14px;}
	 .home-slide,
	.home-slide .slider-slide{
		 /*height: 160px;*/
	 }
	.welcome-bg-img{
		width: 100%;
		height: auto;
		/*transform: translateX(-50%) translateY(-8%);*/
		transform: translateX(-50%) ;
	}
}
@media screen and (max-width: 350px){
	.home-lists{padding: 0px;}
	.home-list .home-list-img {height: 60px;}
	 .home-slide,
	.home-slide .slider-slide{height: 140px;}
}