*{margin: 0px;padding: 0px; }
body {
    overflow: hidden;
    background-color: #fff;
    font-size: 15px;
    text-align: center;
    /*max-width: 900px;*/
    margin:0 auto;
    color: #666;
    font-family: "fontawesome";
    overflow: hidden;
}
.lists-right{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    -o-box-align: center;

    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -ms-box-align: center;

    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}
@font-face {
	font-family:"fontawesome";
	src: url('../fonts/fontawesome-webfont.ttf');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.color333{
    color: #333;
}
/*a{color: #333;}*/
a:hover{text-decoration: none;color: #138CD0;}
input{font-family: "fontawesome";outline:none;-webkit-appearance: none;}
.container {
    /*top: 0;
    left: 0;
    max-width: 900px !important;
    margin:0 auto;*/

}
.login{
    /*position: relative;*/
    margin-bottom:30px ;
}
.view-container{
	max-width: 900px !important;
    margin:0px auto;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    height:100%;
}
/**loading Start**/
.sk-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg); }
.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg); }
.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); }
.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
}
/**loading End**/
/**loginPage  Start**/
.logo{
    padding-top:70px ;
}
.login .logo img{
    width:30%;
}
.stepOne{max-width: 500px;margin: 0 auto;}
.stepOne .stepOne_Message{
    margin-top:70px ;
}
.stepOne .info-icon{
    display: inline-block;
    padding-left: 30px;
    background: url("../image/icon_info@2x.png") no-repeat;
    background-size: 21px 21px;
    text-align: left;
    line-height: 25px;
}
.stepOne .info-icon_error{
    display: inline-block;
    padding-left: 30px;
    background: url("../image/icon_info_caution@2x.png") no-repeat;
    background-size: 21px 21px;
    text-align: left;
    color: red;
    line-height: 25px;
}
.stepOne_Email{
    margin-top:20px ;
}
.stepOne_Email input{
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom: 1px solid #000;
    text-align: center;
    width:100%;
    height: 30px;
}
.stepOne_Button{
    margin-top:20px ;
}
.stepOne_Button button{
    background-color:#fff;
    width: 80%;
    height: 30px;
}
.oneBorder{
    border: 1px solid ;
}
.twoBorder{
    border: 2px solid ;
}
.round15{
    border-radius:15px ;
}
.square{
    border-radius:0px;
}

.stepOne_A{
    margin-top:20px ;

}

.login_footer{
    padding: 0;
    position: fixed;
     bottom: 0;
    /*top: 96%;*/
    width: 100%;
}
.login_footer span{
    display: inline-block;
    width: 31%;
}
.login_footer span:first-child{
    padding-left: 0;
    text-align: left;
}
.login_footer span:last-child{
    padding-right: 0;
    text-align: right;
}

/**loginPage  End**/

/*header*/
.header-main{}
.header{
	/*height: 44px;*/
	/*background: #F1F1F1;*/
	/*border-bottom: 1PX solid rgba(0,0,0,0.1);*/
	width: 900px;
	margin: 0 auto;
	position: absolute;
	top:0px;
	z-index: 9;
	left: 50%;
	display: block;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.headerzindex{top:-40px;opacity: 0;}
.header .list-title-h1{width: 100%;background-color: #f1f1f1;}
.header-title{height: 44PX;}
.header-title h1{
	font-size: 15px;
	line-height: 44px;
	margin: 0;    
	float: left;
	width: calc(100% - 88px);
    margin-left: 44px;
}
.header-title h1.width-100{
	width: calc(100%);
    margin-left:0px;
}
.header-title {
    height: 44px;
    background: #F1F1F1;
    /* border-bottom: 1PX solid rgba(0,0,0,0.1); */
    width: 900px;
    margin: 0 auto;
    position: relative;
    top: 0px;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.loginLeftImg{
    float: left;
    display: block;
    width: 43px;
    height: 43px;
    cursor: pointer;
    padding: 0px;
    /*background: #f1f1f1;*/
}
.float-left{position: absolute;left: 0px;top:0px;z-index: 10;}
/*.loginLeftImg:hover,
.header-menu:hover{background: #f1f1f1;}*/
.loginLeftImg img{width: 100%;}
.header-menu{
    float: right;
    width: 43px;
    height: 43px;
    /*background: #f1f1f1;*/
}
.header-menu img{width: 100%;}
.header-menu-tabs{
    color: #fff;
    position: fixed;
    height: 100%;
    width: 80%;
    right: -80%;
    z-index: 9999;
    top:0px
}
.header-menu-tabs.open{    right: calc((100% - 900px)/2);}
.header-menu-tabs p{margin: 0px;}
.header-close{width: 100%;height: 30px;}
.header-close .header-close-img{height: 17px;    position: absolute;left: 5px;top: 6px;}
.header-user-information{overflow: hidden;}
.header-padding{padding-left: 15px;padding-right: 15px;}
.header-user-left,
.header-user-right{float: left;}
.header-user-left .header-user-photo{height: 40px;    border-radius: 20px;}
.header-user-left .eit{color: #fff;margin: 0px;margin-top: -5px;}
.header-user-right{width: calc(100% - 40px);text-align: left;padding-left: 10px;}
.header-user-right .header-user-title{font-size: 14px;}
.header-user-right .header-user-vicetitle{color: rgba(255,255,255,0.8);}
.navigation-link{}
.navigation-link .navigation-link-ul{margin-left: -15px;margin-right: -15px;}
.navigation-link .navigation-link-ul li{position: relative; height: 48px;border-bottom: 1px solid rgba(255,255,255,0.7);    text-align: left;padding: 0px 15px;}
.navigation-link .navigation-link-ul li img{
	width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.navigation-link .navigation-link-ul li a{
	color: rgba(255,255,255,1);
	line-height: 48px;
    display: block;
    float: left;
    margin-left: 10px;
    position: absolute;
    left: 40px;
    width: calc(100% - 40px);
}
/*header end*/

/*public*/
[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
    background-color: #F9F9F9;
}
.left,
.right,
.center{float: left;}
.float{float: left;}
.float-right{float: right;}
.list-user-img{width: 100%;position: relative;background: #ececec;height: 200px;}
.list-user-img:after{content:"";position:absolute;width: 50px;height: 50px;background: #fff;border-radius: 100%;border:5px solid #f5f5f5;top:calc(50% - 25px);left: calc(50% - 25px);text-align: center;}
.subtitle{color: #666;}
.border-bottom{border-bottom: 1px solid rgba(0,0,0,0.1);}
.padding-no{padding: 0px;}
.animation-time{
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
}
.row{padding: 0px;}
.list:last-child{padding-top: 0px;}
img{vertical-align: middle;}
.block{color: #222;}
 .modal-img{position: absolute;width: 100%;height: 100%;background: rgba(0,0,0,0.2);top:0px;display: none;
-webkit-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
   -moz-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
     -o-transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000); 
        transition: all 500ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.cx-btn{
    width: 100px;
    border: 1px solid ;
    display: block;
    border-radius: 20px;
    margin-top: 10px;
    line-height: 24px;
    text-align: center;
    float: left;
    height: 24px;
    margin-right: 10px;
}
.cx-btn-80{
	width: 80px;
	margin-top: 2px;
}
.cx-btn-auto{width: auto;height: auto;padding: 2px 20px;}
.width-100{width: 100%;}
.cx-btn:hover{color: #138CD0 !important;}   
.father{position: relative;} 
.list-title-h1{font-size: 15px;}
.hidemodel{position: absolute;width: 100%;height: 100%;display: none;}
.hidemodel.cxshow{display: block;z-index: 99;}
.no-padding{padding: 0px;}
.navigation-bottom{
    height: 20px;
    background-color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.navigation-bottom div{
    float: left;
    color:#b3c4c7;
    width: 30%;
}
.navigation-bottom div a{
    color:#b3c4c7;
}
.navigation-bottom .lef{
    text-align: left;
    width: 38% !important;
}
.navigation-bottom .rig{
    text-align: right;
}
/*public end*/

/*list 138CD0*/
 .lists{border-bottom: 1px solid #ccc;}
 .list a{display: block;}
 .lists .lists-left{
     padding-right: 0px;
     padding-left: 0px;
     /*margin: auto 0;*/
     display: -webkit-box;
     -webkit-box-orient: horizontal;
     -webkit-box-pack: center;
     -webkit-box-align: center;
     display: -moz-box;
     -moz-box-orient: horizontal;
     -moz-box-pack: center;
     -moz-box-align: center;
     display: -o-box;
     -o-box-orient: horizontal;
     -o-box-pack: center;
     -o-box-align: center;
     display: -ms-box;
     -ms-box-orient: horizontal;
     -ms-box-pack: center;
     -ms-box-align: center;
     display: box;
     box-orient: horizontal;
     box-pack: center;
     box-align: center;
     /*height: 100%;*/
 }
 .lists .row{padding: 0px;margin: 0px;    min-height: 100px;}
.list a:hover{color: inherit;}
.list a:active{text-decoration: none;}
.lists .lists-right-go{width: 40px;border-radius: 100%;text-align: right;}
.lists  .newRow .notificationsList{
    /*margin-top: 50px;*/
}
.lists  .newRow .lists-right-go{
    margin-top: 10px;
    /*width: 40px;*/
    border-radius: 100%;
    text-align: right;
}
.lists .lists-center{text-align: left;    padding: 5px 10px;}
.lists .lists-title{font-weight: 600;    font-size: 14px;}
.lists .lists-Subtitle{color: #666;}
.lists .lists-right img{text-align: right;}
.lists-val .pane{top:44px;max-width: 900px;margin: 0 auto;    height: calc(100% - 44px);}
.open-lists .lists-right img{
    -moz-transform:rotate(+90deg);
    -webkit-transform:rotate(+90deg);
	/*background: url(../image/lists/icon-expand-down@2x.png);*/
	width: 40px;
    height: 40px;
    background-size: 100% 100%;
/*    transition: all 0.5s ease-out;*/
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.open-lists.open .lists-right img{
	/*background: url(../image/lists/icon-expand-up@2x-1.png);*/
	/*background-size: 100% 100%;*/
	/*transform: rotate(180);*/
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
}
.open-lists-deail{
	height: 0px;
	overflow: hidden;
	border: none;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.open-lists-deail:hover{background: #ECECEC;}
.open-lists-deail.open{height: 115px;border-bottom: 1px solid #ccc;}

/*list end*/

/*home*/
.home{}
.home-title{}
.home-title h4{font-size: 14px;margin-bottom: 5px;}
.home .row{
    margin: 0px;
    display:-webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    display: -o-box;
    -o-box-orient: horizontal;
    -o-box-pack: center;
    display: -ms-box;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    display: box;
    box-orient: horizontal;
    box-pack: center;
}
.cisco-logo{
    /*padding-top: 20px;*/
    /*height: 70px;*/
}
.home-list{padding-top: 10px;position: relative;}
.home-list .col-xs-4{padding: 0px;width: 33%}
.home-list .home-list-img{height: 100px;}
.home-list a.text-center{cursor: pointer;}
.home-slide{position: relative;
    overflow: hidden;
    /*height: 180px;*/
}
.home-slide .slider-slide{
    /*height: 180px;*/
}
.home-slide .slider-pager{bottom: 10px;}

/*.home-slide .slider-slide:hover .modal-img{display: block;}*/
.home-slide .slider-slide.open .modal-img{display: block;}
.home-slide img{width: 100%;}
.home-lists{padding: 10px 0px;}
/*home end*/

/*footer*/
.distance-bottom{
	    /*height: calc(100% - 44px);
	    top: 44px;*/
    background: #1f1f1f;
}
.footer{height: 44px;overflow: hidden;padding: 0px;position: absolute;width: 100%;top:inherit;    height: calc(100% - 88px);bottom: calc(132px - 100%);}
.footer-title{line-height: 44px; color: #fff;position: relative;cursor: pointer;z-index: 999;}
.footer-title p{margin: 0px;}
.footer-content{background: #fff;position: absolute;height: 100%;width: 100%;height: calc(100% - 88px);}
.footer-content .border-bottom{padding: 30px 0px;margin: 0px;}
.footer.open{
	position: absolute;
	width: 100%;
	left: inherit;
	padding: 0px;
	
	bottom: 0px;
	background: #fff;
}
.footer-title .arrow{
	position: absolute;
	left: 50%;
	-webkit-transform: scale(1) translate(-50%,0);
    -moz-transform: scale(1) translate(-50%,0);
    -o-transform: scale(1) translate(-50%,0);
    -ms-transform: scale(1) translate(-50%,0);
    height: 15px;
    top: -1px;
}
.footer-title .footer-tab-doc{
	position: absolute;
	right: 28px;
    height: 28px;
    top: 8px;
    display: none;
}
.footer-menu-tabs{
    /*display:block;*/
    /*position: absolute;*/
    /*padding: 2px 5px;*/
    /*bottom: 0px;*/
    /*height:44px;*/
    background: #F9F9F9;
    /*z-index: 10;*/
    width: 100%;
    padding: 0;
}
.footer.open .footer-menu-tabs{}
.footer.open .footer-content{height: calc(100% - 88px);}
.footer-menu-tabs .col-xs-2{width: 20%;padding: 0px;}
.footer-menu-tabs  div{
    /*display: block;*/
    /*position: relative; */
    /*border-radius: 2px; */
    padding: 5px 0px 0px;
    clear: both;
    /*border: 1px solid rgba(255,255,255,0);*/
}
.footer-menu-tabs div.active{border: 1px solid #666;}
.footer-menu-tabs img{max-width: 100%;height: 14px;}
.footer-menu-tabs p{font-size: 12px;    transform: scale(0.6);color: #666;margin: 0px; word-break:keep-all;  white-space:nowrap;   font-family:"fontawesome";   }
.swiper-slide{height: auto !important;}
.footer.open .footer-title .footer-tab-doc{display: block;}
.footer .footer-title .footer-tab-up{display: none;}
.footer.open .footer-title .footer-tab-up{display: block;}
.footer .footer-title .footer-tab-down{display: block;}
.footer.open .footer-title .footer-tab-down{display: none;}

/*footer end*/


/*welcome*/
.welcome{position: absolute;width: 100%;height: 100%;top: 0px;}
.welcome-bg-img{height: 100%;position: absolute;left: 50%;
transform:translateX(-50%);
-webkit-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-o-transform:translateX(-50%);
}
.welcome .spinner-ios, .spinner-ios-small{stroke: #69717d;}
.welcome .powered{font-size: 12px;color: #69717d; position: absolute;bottom: 42%; display: none;}
.welcome-cisco-logo{position: absolute;bottom: 5%;display: none;}
.welcome-cisco-logo .cisco-logo{padding-top: 0px;    height: 40px;}
/*welcome end*/

/*agenda*/
.agenda-search{background: #F1F1F1;overflow: hidden;    height: 44px;padding: 2px 0px;display: flex}
.search-img ,
.search-input{float:left; }
.search-img{height: 40px;    margin: 0px 5px;}
.search-input{background-color: #fff; width: calc(100% - 60px);    font-size: 17px !important;margin-top: 3px;padding: 7px 17px 7px !important; box-shadow: none;}
.agenda-menu{
    height: 40px;    margin: 0px 5px;float:right;
}
.agenda-times{    overflow: hidden;background: #f1f1f1;}
.agenda .search-input{    width: calc(100% - 110px); }
.agenda-times .left,
.agenda-times .right,
.agenda-times .center{
	float: left;
}
.agenda-times .left,
.agenda-times .right{
	width: 60px;
	position: relative;
}
.agenda-times .left:hover .modal-img,
.agenda-times .right:hover .modal-img{
	display: block;
}
.agenda-times .center{
	width: calc(100% - 120px);
	height: 102px;
	background: #FFFFFF;
	margin: 3px 0px;
}
.will{height: 100%;position: relative;}
.time-ul{
    margin:0;padding:0;    width: 100%;
}
.time-ul li{width: 55px ;height: 102px;display:inline-block;padding-top: 15px; color: #666;}
.time-ul li p{
    margin-bottom: 0;
}
.time-ul li.active{background-color: #f1f1f1;    }
.agenda-pull{
	position: relative;
	padding: 10px 0px;
    color: #666;
    overflow: hidden;
}
.agendaC{
    width:55px !important;
    /*padding-top: 10px !important;*/
}
.table-center{display: table;margin: auto;}
.agenda-pull .beo,
.agenda-pull .aft,
.agenda-pull .pull-down-to{float: left;}
.agenda-pull .beo{
	 width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #666;
    margin: 5px 5px 0px 0px;
}
.agenda-pull .aft{
	content: "";
	 width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #666;
    margin: 5px 0px 0px 5px;
}
.agenda-lists{    
	position: absolute;
    /*top: 295px;*/
    width: 100%;
    bottom:0px;
    height: 100%;
    
}
.agenda-list-all{border-top:1px solid rgba(0,0,0,0.1);}
.agenda-list-all .agenda-list {overflow: hidden;border-bottom:1px solid rgba(0,0,0,0.1);
    /*padding: 10px 10px 10px 10px;  */
}
.agenda-list-all .agenda-list .left{width: 100px;}
.agenda-list-all .agenda-list .right{
    width: calc(100% - 100px);
    height: 100%;
    padding: 10px;
}
.agenda-list-all .agenda-list .right .agenda-title{font-weight: 600;font-size: 14px;}
.agenda-list-all .agenda-list p{margin: 0px;text-align: left;}
.agenda-list-all .agenda-list .agenda-list-top{display: flex;}
.agenda-list-all .agenda-list .agenda-list-btn{margin-left: 100px;height: 0px;overflow: hidden;}
.agenda-list-all .agenda-list .agenda-list-btn.open{height: 73px;}
.yes-img{width: 0px;}
.yes-img.open{width: 17%;}
.agenda-menu-animation{
    transform: scale(1) translateX(0px) !important;
    -webkit-transform: scale(1) translateX(0px) !important;
    -moz-transform: scale(1) translateX(0px) !important;
    -o-transform: scale(1) translateX(0px) !important;
    -webkit-transition: all 400ms ease !important;
    -moz-transition: all 400ms ease !important;
    -o-transition: all 400ms ease !important;
    transition: all 400ms ease !important;
}
.agenda-menu-animation.open{
    transform: scale(0.8) translateX(-70%) !important;
    -webkit-transform: scale(0.8) translateX(-70%) !important;
    -moz-transform: scale(0.8) translateX(-70%) !important;
    -o-transform: scale(0.8) translateX(-70%) !important;
    overflow: visible;
}
.agenda-menu-color{
    position: absolute;
    right: -83%;
    width: 83%;
    height: 200%;
    top: -20%;
    padding: 45% 10px 0px 25px;
    background: #232629;
    -webkit-transform: translateX(50px)translateY(50px);
    -ms-transform: translateX(50px)translateY(50px);
    transform: translateX(50px)translateY(50px);

}
.agendamenucoloranimation{
    -webkit-transform: translateX(0px)translateY(0px);
    -ms-transform: translateX(0px)translateY(0px);
    transform: translateX(0px)translateY(0px);
}
.agenda-menu-color .agenda-filters{
    color: #fff;
    font-size: 27px;
    padding-bottom: 15px;
    text-align: left;
    border-bottom: 1px solid #fff;
    margin-bottom: 5px;
}
.agenda-color-white{background: #fff;}
.agenda-color-yellow{background: #ff9933;}
.agenda-color-green{background: #00ff99;}
.showimg{display: block;}
.hideimg{display: none;}
.agenda-filters-ul li{display: flex;margin-bottom: 8px;}
.agenda-filters-ul li .right{margin: auto;margin-left: 15px;font-size: 18px;color: #fff;}
.agenda-color{width: 30px; height: 30px;border: 1px solid #fff;border-radius: 3px;}
.agenda-model{position: absolute;width: 100%;height: 200%; z-index: 99;top: -20%;display: none;}
.agendamodelshow{display: block;}
.filter-menu-img{height: 35px;margin: auto; margin-right: 10px;}
.agenda-menu-animation .loginLeftImg{position: absolute;
    top: 0px;z-index: 9;}
.agenda-ul{
    overflow: hidden;
    padding: 15px 35px;
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

.agenda-ul li.active {
    color: #fff;
}
.agenda-ul li {
    float: left;
    padding: 5px;
    width: 50%;
    cursor: pointer;
    background-color: #ffffff;
}

.agenda-ul-div{
    background: #F1F1F1;
}
.top195{
    top: 195px;
}
.top255{
    top: 255px;
}

/*agenda end*/

/*attendees*/
.attendees-search{padding: 20px;    overflow: hidden;border-bottom: 1px solid rgba(0,0,0,0.1);position: relative;}
.attendees-search .search-input{margin-top: 0px;padding-top: 2px;     padding-bottom: 2px;   font-size: 15px !important;    padding-left: 50px !important;}
.attendees-search .search-img{height: 37px;line-height: 37px;  color: #fff;  margin: 0px 0px 0px 15px;    width: 45px;  font-size: 16px;}
.attendees-search .inside-search-img{position: absolute;left: 4px; top: 0px;    height: 36px;}
.attendees-lists{position: absolute;
    width: 100%;
    /*height: calc(100% - 122px);*/
}
.attendees-email{position: absolute;
    top: 44px;
    width: 100%;
    height: calc(100% - 44px);
}    
.attendees-list-all .attendees-list{padding: 10px;overflow: hidden;border-bottom: 1px solid rgba(0,0,0,0.1);} 
.attendees-list-all .attendees-list .left{
    width: 30%;
    text-align: left;
    padding: 3px;
    position: relative;
}
.attendees-list-all .attendees-list .left .linkIn{
    position: absolute;
    bottom: 8px ;
    right: 0 ;
    width: 25px ;
    border-radius: 0;
}
.attendees-list-all .attendees-list.email .left{width: 35%;padding: 3px;}
.attendees-list-all .attendees-list .left img{
    width: 100%;
    border-radius: 50%;
    text-align: left;
}
.attendees-list-all .attendees-list .myagenda .linkIn{
    position: absolute;
    bottom: 8px ;
    right: 0 ;
    width: 25px ;
    border-radius: 0;
}
.attendees-list-all .attendees-list .right{
    /*width: calc(100% - 80px);  */
    width: 70%;
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
}
.attendees-list-all .attendees-list.email .right{
    padding-top: 0px;
    width: 65%;
    /*width: calc(100% - 100px);  */
}
.attendees-list-all .attendees-list .right p{    margin-bottom: 3px;line-height: 15px;}
.attendees-list-all .attendees-list .right .attendees-title{font-size: 16px;font-weight: 600;line-height: 20px;}


/*attendees end*/
/*eContent*/
.eContent-search{padding: 15px;    overflow: hidden;border-bottom: 1px solid rgba(0,0,0,0.1);position: relative;}
.eContent-search .search-input{margin-top: 0px;padding-top: 2px;     padding-bottom: 2px;   font-size: 15px !important;    padding-left: 50px !important;}
.eContent-search .search-img{height: 37px;line-height: 37px;  color: #fff;  margin: 0px 0px 0px 15px;    width: 45px;    font-size: 16px;}
.eContent-search .inside-search-img{position: absolute;left: 4px; top: 0px;    height: 36px;}
.eContent-lists{
    position: absolute;
    top: 117px;
    width: 100%;
    height: calc(100% - 122px);}
.eContent-email{position: absolute;
    top: 44px;
    width: 100%;
    height: calc(100% - 44px);
}
.econtentTag{
    top:160px !important;
}
.eContent-list-all .eContent-list{padding: 13px;overflow: hidden;border-bottom: 1px solid rgba(0,0,0,0.1);}
.eContent-list-all .eContent-list .left{width: 30%;}
.eContent-list-all .eContent-list.email .left{width: 100px;}
.eContent-list-all .eContent-list .left img{
    /*width: 100%;*/
}
.width70{
    width: 70px;
}
.width60{
    width: 60px;
}
.eContent-list-all .eContent-list .right{
    width: 70%;
    /*padding-top: 5px;*/
    padding-left: 10px;
    text-align: left;
}
.eContent-list-all .eContent-list .right .des{
    line-height: 14px;
    color: #ccc;
}
.eContent-list-all .eContent-list.email .right{width: calc(100% - 100px);  }
.aeContent-list-all .eContent-list .right p{    margin-bottom: 3px;line-height: 15px;}
.eContent-list-all .eContent-list .right .eContent-title{font-size: 14px;margin-bottom: 0;}
.eContent-btn {
    width: 90px;
    display: block;
    /*margin-top: 10px;*/
    line-height: 24px;
    text-align: center;
    float: left;
    margin-right: 5px;
}
/*eContent end*/


/*wayfiding*/
.wayfiding{position: absolute;    height: 100%;width: 100%;background: #f1f1f1;z-index: 999;bottom:-100%;}
.wayfiding.open{bottom: 0px;}
.wayfiding-header{border-bottom: 1px solid rgba(0,0,0,0.1);}
.wayfiding-header p {margin-bottom: 0px;padding: 10px 0px; font-size: 14px;color: #000;}
.wayfiding-header .lump{overflow: hidden;padding-bottom: 6px;}
.wayfiding-header .left,
.wayfiding-header .right{width: 60px;}
.wayfiding-header .center{width: calc(100% - 120px);}
.wayfiding-header .center input{width: 100%;border: 1px solid rgba(0,0,0,0.1);border-radius: 5px;    padding: 0px 20px;}
.wayfiding-header .right a{line-height: 34px;font-size: 17px;color: #138CD0;}
/*wayfiding end*/

/*wayfiding*/
.new-message{position: absolute;    height: 100%;width: 100%;background: #f1f1f1;z-index: 999;bottom:-100%;    }
.new-message.open{bottom: 0px;}
.new-message-header{border-bottom: 1px solid rgba(0,0,0,0.1);position: relative;height: 45px;}
.new-message-header h1 {margin-bottom: 0px;padding: 12px 0px; font-size: 15px;color: #000;}
.new-message-header .lump{overflow: hidden;position: absolute;top: 0px;bottom: 0px;display: flex;width: 100%;padding: 0px 10px;}
.new-message-header .left,
.new-message-header .right{width: 60px;margin: auto;}
.new-message-header .left{text-align: left;}
.new-message-header .right{text-align: right;}
.new-message-header .left a{font-size: 16px;color: #138CD0; line-height: 34px;}
.new-message-header .right a{line-height: 34px;font-size: 16px;color: #666;}
.new-message-header .right{position: relative;}
.new-message-header .right .ele-hide{position: absolute;width: 100%;height: 100%;display: block;top:0px;left: 0px;}
.new-message-header .right.cxcolor a{color: #138CD0;display: block;}
.new-message-header .right.cxcolor .ele-hide{display: none;}
.new-message-header .right a.active{color: #138CD0;}
.new-message-header .center{width: calc(100% - 120px);}
.new-message-header .center input{width: 100%;border: 1px solid rgba(0,0,0,0.1);border-radius: 5px;    padding: 0px 20px;}
.new-message-deail{padding-left: 15px;}
.new-message-deail .cxcolor{ color: #138CD0;}
.new-message-deail .lump{border-bottom: 1px solid rgba(0,0,0,0.1);width: 100%;overflow: hidden;display: flex;}
.new-message-deail .lump .right{width: 100%;}
.new-message-deail label{line-height: 40px;font-size: 14px;height: 100%;color: #999;}
.new-message-deail input{background: initial;width: 100%;padding: 20px 7px;}
.new-message-deail .sent-from-my-iPod{margin-top: 50px;text-align: left;font-size: 15px;color: #333;}
/*wayfiding end*/



/*release*/
.release{position: relative;height: calc(100% - 44px);}
.release-deail{padding: 25px 25px;    display: flex;}
.release-deail .left{width: 150px;}
.release-deail .right{width: calc(100% - 150px);text-align: left; margin: auto;}
.release-deail .right span{font-size: 14px;color: #333;line-height: 1;}
.release .release-bottm{position: absolute; bottom: 0px;padding: 4px 12px 4px 10px; display: flex;   height: auto;border-top: 1px solid rgba(0,0,0,0.1);width: 100%;background: #f1f1f1;}
.release .release-bottm .left{width: calc(100% - 50px);}
.release .release-bottm .left input{width: 100%; border: 1px solid rgba(0,0,0,0.1);padding: 0px 15px;border-radius: 5px;}
.release .release-bottm .left textarea{width: 100%; border: 1px solid rgba(0,0,0,0.1);padding: 0px 15px;border-radius: 5px;resize:none;line-height: 28px;
 height: 30px;}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    text-align: left;
}
.release .release-bottm .left .leave-message-textarea{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 0px 15px;
    border-radius: 5px;
    min-height: 30px;
    line-height: 30px;
    /*max-height:70px;*/
    outline: 0;
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-modify: read-write-plaintext-only;
    background-color: #ffffff;
    text-align: left;
    -webkit-user-select: auto;
}

.release .release-bottm .right{
    text-align: right;
    text-align: -webkit-right;
    margin: auto;
    margin-left: 5px;
    padding: 0 10px;
}
.release .release-bottm .right a{
    font-size: 16px;
    text-align: right;
    text-align: -webkit-right;
    /*color: #2319dc;*/
}
/*release end*/

/*travelLogistics*/
.travelLogistics{}
.travelLogistics-ul{overflow: hidden;    padding: 15px 25px;border-bottom: 1px solid rgba(0,0,0,0.1);}
.travelLogistics-ul li{
    float: left;
	border-right: 1px solid ;
    border-bottom: 1px solid ;
    border-top: 1px solid ;
    padding: 5px;
    width: 33.33333%;
    cursor: pointer;
}
.travelLogistics-ul li.active{
	color: #fff;
}
.travelLogistics-ul li:first-child{

}
.travelLogistics-ul li:last-child{

}
.travelLogistics-tabs{position: absolute;height: calc(100% - 107px);width: 100%;}
.travelLogistics-tabs h1{border-bottom: 1px solid rgba(0,0,0,0.1);padding: 20px 0px}
/*travelLogistics end*/


/*activity stream*/
.activity-stream-deail{padding: 15px;    border-bottom: 1px solid rgba(0,0,0,0.1);}
.new{overflow: hidden;display: flex;}
.new .left{width: 50px;}
.new .right{width: 50px;}
.new .center{width: calc(100% - 100px);text-align: left;padding-left: 10px;}
.new .center{margin: auto;height: 100%;}
.new .center p{margin: 0;}
.new .center .user-title{color: #333;font-size: 15px;}
.new .center .user-introduce{font-size: 12px;}
.new .right .time{overflow: hidden;text-align: right;}
.new .right .time .icon-time{}
.new .right .time .sum-time{line-height: 22px;margin-left: 5px;}
.new-deail{padding: 5px 0px;}
.new-deail .content{text-align: left;color: #444;margin-bottom: 0px;line-height: 15px;padding: 8px 0px;}
.new-comment{padding-left: 3px;}
.strip{overflow: hidden;margin-bottom: 5px;}
.strip strong{color: #333;}
.strip .user-img{width: 30px;}
.strip .user-comment{width: calc(100% - 30px);    text-align: left;padding-left: 5px;line-height: 14px;    padding: 3px 0px 0px 5px;}
.new-fabulous{overflow: hidden;padding: 5px 0px 10px;}
.new-fabulous .count{float: left;}
.new-fabulous .count.love{margin-right: 40px;}
/*activity stream end*/
.cx-color{}
.cx-color-font{font-size: 16px;font-weight: 600;line-height: 20px;}
/*map*/
.map-to{
    /*position: fixed;*/
    /*bottom: 0;*/
    /*height: calc(100% - 107px);*/
    /*width: 100%;*/
}
.map{}
.map-top{padding: 20px 20px 15px;border-bottom: 1px solid #ccc;text-align: left;}
.attendees-list .map-top{border-bottom: none;}
.map-top p{margin-bottom: 0px;}
.map-top .line{margin-bottom: 5px;}
.map-top .line .tiny{color: #333;line-height: 17px;}
.map-top .line .little{color: #666;line-height: 17px;}
.map-deail{padding: 20px;}
.map-deail .line {overflow: hidden;display: flex;margin-bottom: 20px;}
.map-deail .line .right{float: right;}
.map-deail .line .left{    margin: auto;width: calc(100% - 30px);text-align: left;    margin-left: 0;}
.map .scroll-content{top:44px}
/*map end*/

/*notifications*/
#travelLogistics-tab1,#travelLogistics-tab2{display: none;}
.notifications .attendees-list-all .attendees-list{display: flex;    padding-left: 13px;}
.notifications .attendees-list-all .attendees-list .left img{width: auto;}
.notifications  .attendees-list-all .attendees-list .left{width: 20%;margin: auto;}
.notifications  .attendees-list-all .attendees-list .right{width: calc(100% - 20px);}
.attendees-list.active .left .deep{display: block;}
.attendees-list.active .left .shallow{display: none;}
.attendees-list .left .deep{display: none;}
.attendees-list .left .shallow{display: block;}
/*notifications end*/

/*My Profile end*/
.edit-profile{overflow: hidden;display: flex;}
.edit-profile .cx-btn-auto{margin: 20px auto;}
.profile-text{padding: 15px;text-align: left;}
/*My Profile end*/
/*model*/
.pull-up-menu{position: absolute;bottom: -196px;padding: 0px 10px 8px;width: 100%;z-index: 999;
    -webkit-transition: all 300ms ease-in-out; 
   -moz-transition: all 300ms ease-in-out; 
     -o-transition: all 300ms ease-in-out; 
        transition: all 300ms ease-in-out;}
.pull-up-menu.open{bottom: 0px;}
.pull-up-menu-ul{width: 100%; background: #fff;border-radius: 13px;}
.pull-up-menu-ul li{height:60px;line-height:60px;border-top: 1px solid rgba(0,0,0,0.1);font-size: 18px;}
.pull-up-menu-ul li:active{background: #f1f1f1;border-radius: 13px;}
.pull-up-menu-ul li:first-child{border-top:none;}
.pull-up-menu-ul li:first-child:active{border-top-left-radius: 13px;border-top-right-radius: 13px;}
.pull-up-menu-ul li:last--child:active{border-bottom-left-radius: 13px;border-bottom-right-radius: 13px;}
.pull-up-menu-ul .red{color: orangered;}
.pull-up-menu-ul .bull{color: #138CD0;}
.pull-up-menu .last-li{background: #fff;width: 100%;height:60px;line-height:60px;font-weight: 600;color: #138CD0;display: block;border-radius: 13px;margin-top: 8px;font-size: 18px;}
.pull-up-menu .last-li:active{background: #f1f1f1;border-radius: 13px;}
.cx-model{position: absolute;height: 100%;width: 100%;background: rgba(5,5,0,0);top: 0px;    opacity: 1;
    -webkit-transition: 0.4s  linear;
    transition: 0.4s  linear;
    visibility: hidden;
    z-index: 99;
    }
.cx-model-noclick{position: absolute;height: 100%;width: 100%;background: rgba(5,5,0,0);top: 0px;    opacity: 1;
    -webkit-transition: 0.4s  linear;
    transition: 0.4s  linear;
    visibility: hidden;
    z-index: 99;
    }    
.cx-model.open{
	visibility: initial;
	background: rgba(5,5,0,0.4);
}
.cx-model-noclick.open{
	visibility: initial;
	background: rgba(5,5,0,0.4);
}      
.release-pull-up-menu{bottom: -236px;}
.release-pull-up-menu li:first-child{height: 40px;line-height: 40px;font-size: 14px;}
.scale-menu{
	position: absolute;
	top:50%;
	left: 50%; 
	transform: translateY(-50%) translateX(-50%) scale(1.1);
	width: 80%;
	margin: 0 auto;
	background: #fff;
	border-radius: 13px;
	z-index: 99;
    visibility: hidden;
    opacity: 0;
}
.scale-menu.open{
	transform: translateY(-50%) translateX(-50%) scale(1);
	visibility: initial;
	opacity: 1;
	 -webkit-transition: all 200ms ease-in-out; 
   -moz-transition: all 200ms ease-in-out; 
     -o-transition: all 200ms ease-in-out; 
        transition: all 200ms ease-in-out;
}
.scale-menu .scale-menu-top{padding: 15px;border-bottom: 1px solid rgba(0,0,0,0.1);}
.scale-menu .scale-menu-top h4{font-size: 18px;margin-top: 0px;}
.scale-menu .scale-menu-top p{font-size: 12px;color: #333;line-height: 1.43;margin-bottom: 0px;}
.scale-menu .scale-menu-bottom{}
.scale-menu .scale-menu-bottom .scale-menu-bottom-ul{overflow: hidden;}
.scale-menu .scale-menu-bottom .scale-menu-bottom-ul li{width: 50%;height: 44px;line-height: 44px;font-size: 15px;color: #138CD0;}
.scale-menu .scale-menu-bottom .scale-menu-bottom-ul li:active{background: #f1f1f1;}
.scale-menu .scale-menu-bottom .scale-menu-bottom-ul li:first-child{border-right: 1px solid rgba(0,0,0,0.1);}
.scale-menu .scale-menu-bottom .scale-menu-bottom-ul li.left{border-bottom-left-radius: 13px;}
.scale-menu .scale-menu-bottom .scale-menu-bottom-ul li.right{border-bottom-right-radius: 13px;}
.scale-menu .scale-menu-bottom .scale-menu-bottom-ul li.strong{font-weight: 600;}
/*model end*/
/*preferences*/
.preferences-Ancestors{background: #ECECEC;}
.preferences-Ancestors .scroll-content{top:44px;}
.preferences{padding: 0px 0px 0px 0px;background: #ECECEC;}
.preferences .cx-btn{width: 200px;    margin: 10px auto 0px;float: none;height: 30px;line-height: 30px;}
.preferences .lump{overflow: hidden;background: #fff;padding-left: 15px;}
.preferences .lump.lump-padding{margin-top: 35px;}
.preferences .lump .lump-deail{padding-right: 10px;    overflow: hidden;}
.preferences .lump .lump-deail.lump-width{display: flex;}
.preferences .lump .lump-deail.lump-width .right{width: 51px;margin: auto;margin-right: 0px;}
.preferences .lump .lump-deail.lump-width .left{width: calc(100% - 70px);text-align: left;}
.preferences .lump .lump-deail .left{padding: 10px 0px;color: #333;font-size: 13px;}
.preferences .lump .lump-deail .right{float: right;}
.preferences .lump .lump-deail .right .read-only{font-size:13px;padding: 10px 0px;display: block;}
.preferences .lump .lump-deail .right input{text-align: right;color: #555;font-size:13px;padding: 0px 5px; font-weight: 300;   padding: 12px 5px;height: auto;}
.preferences .lump-border-bottom{border-bottom: 0.1px solid rgba(0,0,0,0.2);margin-left: 3px;float: left;width: 100%;}
.preferences .update-photo .right{padding: 5px 0px;}
.preferences .update-photo .right img{width: 80px;}
.preferences .update-photo .left{width: calc(100% - 95px);    padding-bottom: 10px;}
.preferences .no-padding{padding: 0px;}
.lump-bottom-margin{margin-bottom: 35px;}
/*arrow*/
        .arrow-box{
            width:12px;
            height:20px;
            position:relative;
            margin: 10px 0px;
        }
		.right1{
            width:20px;
            height:20px;
            position:absolute;
            left:0;
            top:0;
            border:1px solid transparent;
        }
        .right-arrow1,.right-arrow2{
            width:0;
            height:0;
            display:block;
            position:absolute;
            left:0;
            top:0;
            border-top:8px transparent dashed;
            border-right:8px transparent dashed;
            border-bottom:8px transparent dashed;
            border-left:8px white solid;
            overflow:hidden;
        }
        .right-arrow1{
            left:2px;/*重要*/
            border-left:8px #999 solid;
        }
        .right-arrow2{
            border-left:8px white solid;
        }
/*arrow end*/  
.updatepassword{padding: 30px;} 
.updatepassword-p{margin-top: 10px;line-height: 1.43;}  
.bio .bio-input{width: 100%;padding: 0px 5px;}  
.save-changes-bottom{position: absolute;bottom: 0px;width: 100%;left: 0px;}
.save-changes-button{height: 40px;display: block;padding: 8px 0px;color: #fff;font-size: 15px;}
.save-changes-button:active,
.save-changes-button:focus,
.save-changes-button:hover{color: #fff;}
/*preferences end*/

/*ionic*/
.bar-header{
	padding: 0px;
	height: 50px;
}
/**/
.loading .spinner-ios,
.loading .spinner-ios-small{stroke: #fff;}
.spinner svg{width: 30px;height: 30px;}
.loading-container .loading{padding: 20px 20px 10px;}
.slider-pager .slider-pager-page.active {
    -webkit-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
    opacity: 1;
}
.footer-content .scroll-content{bottom: 0px;}
.slider-pager .slider-pager-page{color: #fff;}
.scroll-refresher .icon-pulling{width: 40%;float: left;}
.scroll-refresher .ionic-refresher-content .text-pulling{    
	width: 100%;
    position: absolute;
    top: 6px;}
.toggle{margin-top: 0px;}      
.toggle .track{border: solid 1px #e6e6e6;} 
input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
    background-color: #fff;
    cursor: not-allowed;
}   
/*ionic end*/
.content a{
    display: -webkit-inline-box;
}
/*Comment*/
.comment-deail{
    padding: 6% 4% 6% 4%;
    display: flex;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.comment-deailLeft{
    text-align: left;
    width: 15%;
}
.comment-deailRight{
    text-align: left;
    width:74%;
}
.comment-deailRight p{
    margin: 0;
    padding-left: 5%;
    line-height: 15px;
    /*width: 53%;*/
}
.comment-deailRight p .commentTime{
    text-align: right;

}
.comment-deailLastRight{
    /*padding: 0 10px;*/
    text-align: right;
    width:14%;
}
.commentIcon{
    line-height: 15px;
}
.paddingLeft{
    padding-left: 3px;
    line-height: 20px;
}
.commentFontSize{
    font-size: 12px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.80);
}
.colorBlack{
    color: #000000;
}
.fontSize{
    font-weight: bold;
    font-size: 14px;
}
/*Comment end*/
/*list*/
.lists-val img{
    width:100%;
}
.list_more .lists .row{
    /*height: 90px;*/
}
.list_more .open-lists-deail.open{
    height: auto;
}

.lists-right div{
    width: 100%;
}
.notificationsList{
    display: block;
    height: 18px;
    width: 25px;
    line-height: 18px;
    background-color: grey;
    border-radius: 10px;
    color: #ffffff;
    margin: 0 auto;
    position: absolute;
    bottom: 57%;
}
/*list end*/
.padding-no img{
    padding: 8px;
    height: 80px;
}


.agenda-lists .left p{
    text-align: center;
    padding: 10px 0;
}
.agenda-lists .order .left{
    border-right: 2px solid rgba(0,0,0,0.1);
}
.agenda-list-top-order{
    border-top: 1px solid rgba(0,0,0,0.1);
    height: 0px;
}
.orderAgenda{
    animation:hdHover 0.5s forwards;
    /*padding: 30px 10px 10px 20px;*/
}
@keyframes hdHover{
    0%{height:0;}
    /*50%{right:-10%;}*/
    100%{height:auto;}
}
.agenda-lists .order .left p{
  /*border-right: 2px solid rgba(0,0,0,0.1);*/

}
.rightNot{
    display: inline-block;
    color: #ffffff;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 10px;
    line-height: 20px;
    float: right;
    background-color: rgba(0,0,0,0.3);
}
.right .rightOrder{
    height: 0;
    overflow: hidden;
}
.right .rightOrder.open{
    height: 73px;
}

.round{
    display: block;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 5px;
    margin: auto;
}
.colorGrey{
    background-color: grey !important;
}
/*poll*/
.poll{
    position: absolute;
    height: calc(100% - 107px);
    width: 100%;
}
.pollHeader{
    height: 80px;
    background-color: #cbcbcb;
    text-align: left;
    padding: 0px 48px;
    font-size: 14px;
    overflow:hidden;
    position:relative;
    display:table-cell;
    vertical-align:middle;

}
.pollHeader p{
    position:static;
+position:relative;
    top:50%;
    width:300px;
    margin-left:auto;
    margin-right:auto;
}
.pollBottom{
    /*text-align: center;*/
    position: fixed;
    bottom: 0;
}
.pollContent{
    padding: 13%;
}
.pollContentTitle{
    /*font-weight: 600;*/
    font-size: 20px;
    text-align: left;
    line-height: 25px;
}
.regular-radio {
    display: none;
}

.regular-radio + label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
}

.regular-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #99a1a7;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.regular-radio:checked + label {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.pollBottom a{
    width: auto;
    height: auto;
    padding: 5px 20px;
    margin: 10px auto;
    border-radius: 15px;
    display: block;
    border:1px solid;
}
.floatLeft{
    float: left;
}
.pollContentSelect{
    margin-top: 20px;
    text-align: left;
}
.oneSelect{
    padding: 10px;
    margin-top: 10px;
}
.oneSelect span{
    padding-left: 33px;
    font-size: 18px;
}
#pollResults{
    width:100%;
    /*height:200px;*/
    padding-top: 30px;
}
.prompt{
    margin-top: 10px;
}

.marginTop0{
    margin-top: 0px;
}
.prompt div{
    float: left;
    margin-top: 10px;
    text-align: left;
}
.promptT{
    width:30%;
    font-size: 20px;
}
.promptS{
    width:60%;
    color: #000000;
    font-size: 16px;

}
.colorB8B9BD{
    color: #B8B9BD;
}
.colorABC234{
    color: #ABC234;
}
.color62BA12{
    color: #62BA12;
}
/*poll end*/
.ejectPage{
    position: absolute;
    height: calc(100% - 107px);
    width: 100%;
}
/*myagenda*/
.myagenda .myagenda-scroll{
    top:44px;
}
.myagenda-title{
    text-align: left;padding: 15px;border-bottom: 1px solid  rgba(0,0,0,0.1);
}
.myagenda-title-deail,
.myagenda-title-to{  overflow: hidden;}
.myagenda-title .left{width: calc(100% - 60px);}
.myagenda-title .right{width: 60px;text-align: center;}
.myagenda-title .right .webex-img{height: 60px;margin-bottom: 5px;}
.myagenda-title .right .webex{font-size: 12px;color: #222;}
.myagenda-title p{margin-bottom: 0px;    font-size: 15px;}
.change-title{font-size: 16px;}
.myagenda .item-divider{text-align: left;padding: 16px;margin: 0px;background: #fff; border: none;   border-bottom: 1px solid  rgba(0,0,0,0.1);}
.myagenda .changeColor{color: #138CD0;}
.myagenda .attendees-search{padding: 10px 0px 0px 0px; border: none;}
.myagenda .attendees-search .search-input{width: 100%;}
.myagenda-title-to .myagenda-title-to-img{height: 60px;}
.myagenda-title-to .left{
    width: 25%;
    text-align: center;
    font-size: 12px;
    /*margin: 0px 5px;*/
}
.add-to-calendar{transform: scale(0.8);}
/*myagenda end*/
/*complete*/
.completeL{
    position: absolute;
    height: calc(100% - 107px);
    width: 100%;
}
.completeF{
    height: 30%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 45px 25px;
    text-align: left;
    /*color:#666;*/
    font-size: 14px;
}
.completeS{
    padding: 10px 25px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.completeS p{
    font-size: 14px;
}
.completeS img{
    width: 90px;
}
.completeT{
    padding-top: 30px;
}
.completeT a{
    border: 1px solid;
    display: block;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 2px 20px;
    margin: 20px auto;
}
.completeT .completeTOA{
    width: 55%;
}
.completeT .completeTTA{
    width: 45%;
}
.completeB{
    width: 100%;
    position: fixed;
    bottom: 0;
}
.completeB div{
    float: left;
    width: 33%;
}
.completeB .rig{
    text-align: right;
}
.completeB .lef{
    text-align: left;
}
/*complete end*/

/*completeyourprofile*/
.user-profile-header{overflow: hidden;padding: 20px 50px; }
.user-profile-header .left{width: 80px;}
.user-profile-header .right{width: calc(100% - 80px);padding-left: 10px;  }
.user-profile-header .right .cx-btn{width: 200px;}
.completeyourprofile-srcoll{top:44px;}
.explain{padding: 20px 40px;text-align: left; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;}
.user-profile-input{ padding: 20px 80px 5px;}
.user-profile-input .lump{overflow: hidden;display: flex;text-align: center;}
.user-profile-input .lump input{border-bottom: 1px solid rgba(0,0,0,0.1);width: 100%;text-align: center;margin-bottom: 10px;}
.user-profile-input .lump .left{width: 20px;}
.user-profile-input .lump .right{width: calc(100% - 20px);}
.update-my-password{margin-bottom: 50px;}
.completeyourprofile .stepOne_Button button{width: 250px;}
/*completeyourprofile end */


.attendees-list .left .linkIn {
    position: absolute;
    bottom: 12px !important;
    right: 6px !important;
    width: 15px !important;
    border-radius: 0;
}

.attendeesS{
    clear: both;
    padding-top: 10px;
}
.select{
    margin-bottom: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
    background: #fff;
    text-shadow: none;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-transition: box-shadow 0.25s ease;
    -o-transition: box-shadow 0.25s ease;
    -webkit-transition: box-shadow 0.25s ease;
    transition: box-shadow 0.25s ease;
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 8%;
    min-width:50%;
}
.select select {
    cursor: pointer;
    padding: 0.3em;
    padding-right: 2em;
    /*width: auto;*/
    width: 125px;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 160% \9;
}
.top122{
    top:122px;
}
.top205{
    top:205px !important;
}
.top167{
    top:167px;
}
.height122{
    height: calc(100% - 122px);
}
.height205{
    height: calc(100% - 205px);
}
.height167{
    height: calc(100% - 167px);
}
.Grey{
    color:grey;
}
.uploadImage{
    border: 0;
    opacity: 0;
    position: absolute;
    height:100px;
}
.popup-container{
    z-index: 1200;
}
.backdrop.active{
    z-index: 1200;
}
.login_footer a:hover{
   color: #333;
}

.prederencesText{
    font-size: 13px;
    overflow-x: hidden;
    overflow-y: auto;
    /*-webkit-user-modify: read-write-plaintext-only;*/
    padding-top: 9px;
    background-color: #ffffff;
    text-align: right;
    -webkit-user-select: auto;
}
.bio{
    -webkit-user-select: auto;
    text-align: left;
    /*padding: 10px;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*background-color: #ffffff;*/
}
#bioHidden{
    display: none;
}
.width30{
    height:30%;
}
.colorCcc{
    color:#ccc;
}
.colorFFF{
    color:#fff;
}
.headerBlockOrNone{
    display: none;
}
.logOut{
    background-color: grey;
}
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 999999;
    top: 0;
    display: none;
}
.jtxs{
    display: block;
}
