<!doctype html>
<html lang="en" ng-app="cxApp">

    <head>
        <meta charset="utf-8">
        <title>cx</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="tool/bootstrap-3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="tool/ng-grid-2.0.12/ng-grid.css">

        <script src="tool/jq/jquery.js"></script>
        <script src="tool/angular-1.6.0/angular.js"></script>
        <script src="tool/angular-ui-router.js"></script>
        <script src="tool/angular-sanitize.min.js"></script>
        <script src="tool/jq/angular-swiper.js"></script>
        <script src="tool/angular-1.6.0/angular-cookies.min.js"></script>
        <script src="tool/Chart.min.js"></script>
        <script src="tool/angular-chart.min.js"></script>
        <!--<script src="tool/ng-img-crop.js"></script>-->
        <script src="tool/moment.js"></script>
        <script src="tool/moment-timeZone.js"></script>
        <script src="tool/lrz.bundle.js"></script>
        <script src="tool/angular-1.6.0/angular-animate.min.js"></script>
        <script src="tool/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="tool/ng-grid-2.0.12/ng-grid.debug.js"></script>
        <script src="tool/ionic.bundle.js"></script>
        <script src="js/util/ion-sticky.js"></script>

        <link rel="stylesheet" href="css/ionic.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/response.css">
        <link rel="stylesheet" href="css/flex.css">
        <link rel="stylesheet" href="css/cxcColor.css" ng-if="version=='CXC'">
        <link rel="stylesheet" href="css/hpeColor.css" ng-if="version=='HPE'">
        <link rel="stylesheet" href="css/AVAYAColor.css" ng-if="version=='AVAYA'">

        <script src="js/app/app.js"></script>
        <script type="text/javascript" src="js/controllers/index/indexControllers.js" ></script>
        <script src="js/controllers/controllers.js"></script>
        <script src="js/controllers/home/homeController.js"></script>
        <script src="js/controllers/homeLists/homeListsController.js"></script>
        <script src="js/controllers/homeLists/travelLogistics/map.js"></script>
        <script src="js/controllers/member/listsController.js"></script>
        <script src="js/controllers/member/login.js"></script>   
        <script src="js/controllers/member/profileController.js"></script>
        <script src="js/controllers/member/preferences/bio.js"></script>
        <script src="js/controllers/member/preferences/updatepassword.js"></script>
        <script src="js/controllers/member/preferencesController.js"></script>
        <script src="js/controllers/homeLists/poll/pollController.js"></script>

        <script src="js/controllers/public/footerController.js"></script>
        <script src="js/controllers/public/headerController.js"></script>
        <script src="js/controllers/public/releaseController.js"></script>
        <script src="js/controllers/public/completeController.js"></script>
        <script src="js/controllers/homeLists/commentController.js"></script>
        <script src="tool/autosize.js"></script>

        <script src="js/services/services.js"></script>

        <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqJJsV4x1VItVWDwG3yyr0zu8ATAwMzgw" type="text/javascript"></script>-->
        <style>
            .backdrop {
                z-index: 1001 !important;
            }
            .popup-container{
                z-index: 1001 !important;
            }
        </style>
    </head>

    <body ng-Controller="indexController" >
		<section ui-view="header"></section>
   	 	<ion-nav-view animation="slide-left-right-ios7" ng-click="indexAll()" >

            <!--<div class="wayfiding animation-time" ng-class="{open: wayfidingopen== true}">-->
                <!--<div class="wayfiding-header">-->
                    <!--<p class="list-title-h1">SJC10-1-Firstfloor</p>-->
                    <!--<div class="lump">-->
                        <!--<div class="left">-->
                            <!--<img height="34px" src="image/footer/partner_expand@2x.png" />-->
                        <!--</div>-->
                        <!--<div class="center">-->
                            <!--<input class="map-search" type="text" placeholder="search for point interest" />-->
                        <!--</div>-->
                        <!--<div class="right" ng-click="wayfidingclose()">-->
                            <!--<a>Done</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

   	 	</ion-nav-view>
	    <div class="hidemodel" ng-class="{cxshow: hidemodeldiv == true}" ng-click="hidemodel()"></div>

    </body>

</html>
