<div class="header-title ">
    <h1 class="list-title-h1 width-100">Complete your Profile</h1>
</div>
<div class="completeL" >
    <ion-pane >
        <ion-content >
            <div class="completeF">
                <p>Almost there Please complete your profile below for the best in-app experience and so other attendees can see who you are. You will only have to do this once.</p>
            </div>
            <div class="completeS">
               <img src="https://cx-app-cxc.appspot.com/files/20170527100917_20170527100905_gfwyuyrfwp.png"/>
                <p>春光 陈</p>
                <p>Software Engineer</p>
                <p>Design Reactor</p>
            </div>
            <div class="completeT">
                <a class="completeTOA  changeColor changeBorderColor">IMPORT LINKEDIN PROFILE</a>
                <a class="completeTTA  changeColor changeBorderColor" ui-sref="completeyourprofile">CONTINUE</a>
            </div>
        </ion-content>
    </ion-pane>
    <div class="completeB">
        <div class="lef">@2017 CXApp.io</div>
        <div class="cen">Term of Use</div>
        <div class="rig">v5.1.16</div>
    </div>
</div>