<div class="header-title ">
	<h1 class="list-title-h1 width-100">Complete your Profile</h1>
</div>

<div class="completeyourprofile">
	<ion-content  class="completeyourprofile-srcoll">
		<div class="user-profile-header">
			<div class="left">
				<img height="80px" src="image/test/icon_profile_header@2x.png">
			</div>
			<div class="right">
				<a class="cx-btn changeColor changeBorderColor">Import Linkedin Profile</a>
				<a class="cx-btn changeColor changeBorderColor">Update Photo</a>
			</div>
		</div>
		<div class="explain">
				All of the information below will be displayed in your profile within the app.
				Please edit or adjust to your preferences.
		</div>
		<div class="user-profile-input">
			<div class="lump">
				<input type="text" value="Fa" />
			</div>
			<div class="lump">
				<input type="text" value="Fa" />
			</div>
			<div class="lump">
				<input type="text" value="Fa" />
			</div>
			<div class="lump">
				<input type="text" value="Fa" />
			</div>
			<div class="lump">
				<input type="text" placeholder="Phone Number(Optional)" />
			</div>
		</div>
		<div class="update-my-password">
			<a class="changeColor">Update my password</a>
		</div>
		<div class="stepOne_Button ">
                <button ng-click="First();" class="changeColor changeBorderColor" ui-sref="loginPassword" href="#!/loginPassword">Submit</button>
            </div>
	</ion-content>	
</div>
