<div class="header-title">
    <h1 class="list-title-h1">{{headerTitle}}</h1>
</div>
<div class="ejectPage">
    <ion-content scroll="true" overflow-scroll="true" >
        <iframe data-tap-disabled="true" style="min-height: 100%;width:100%;" ng-src="{{urlSrc}}"></iframe>
        <!--<div ng-include="urlSrc">-->

        <!--</div>-->
    </ion-content>
</div>