<div class="footer container animation-time" ng-class="{open: open==true}">
	<div class="footer-title " >
		<img class="arrow footer-tab-down" src="image/footer/tab-down-arrow@2x.png">
		<img class="arrow footer-tab-up" src="image/footer/tab-up-arrow@2x.png">
		<img class="footer-tab-doc" ui-sref="release" ng-click="release()" src="image/footer/icon-doc-write@2x.png">
		<p ng-click="footer_toggle()">ACTIVITY STREAM</p>
	</div>
	<div class="footer-content "   >
		<ion-pane ng-controller="refresh_controller">
	        <ion-content >
	            <ion-refresher 
	            	icon="ios"
	            	pulling-text="Release to refresh" 
	            	on-refresh="doRefresh()" 
	            	on-pulling="doPulling()">
	            </ion-refresher>
	            <ion-list>
	            	<div style="position: relative;" ng-controller="refresh_controller">
						<h4 class="border-bottom">1Test</h4>
						<h4 class="border-bottom">1Test</h4>
						<h4 class="border-bottom">1Test</h4>
						<h4 class="border-bottom">1Test</h4>
						<h4 class="border-bottom">1Test</h4>
						<h4 class="border-bottom">1Test</h4>
						<h4 class="border-bottom">1Test</h4>
					</div>	
				</ion-list>
	        </ion-content>
		</ion-pane>
	</div>	
	<div class="footer-menu-tabs" >
		<div class="col-xs-2 " ng-repeat="f in bar track by $index" ng-style="widthFooterBar">
			<a class="active" ui-sref="#">
				<img src="image/footer/stream_{{f.type}}@2x.png" />
				<h6>{{f.title}}</h6>
			</a>
		</div>
		<!--<div class="col-xs-2 " >-->
			<!--<a class="active" ui-sref="#">-->
				<!--<img src="image/footer/stream_all@2x.png" />-->
				<!--<h6>All</h6>-->
			<!--</a>-->
		<!--</div>-->
		<!--<div class="col-xs-2 ">-->
			<!--<a ui-sref="#">-->
				<!--<img src="image/footer/stream_managed@2x.png" />-->
				<!--<h6>MANAGED</h6>-->
			<!--</a>-->
		<!--</div>-->
		<!--<div class="col-xs-2">-->
			<!--<a ui-sref="#">-->
				<!--<img src="image/footer/stream_attendee@2x.png" />-->
				<!--<h6>ATTENDEE</h6>-->
			<!--</a>-->
		<!--</div>-->
		<!--<div class="col-xs-2">-->
			<!--<a ui-sref="#">-->
				<!--<img src="image/footer/stream_twitter@2x.png" />-->
				<!--<h6>TWITTER</h6>-->
			<!--</a>-->
		<!--</div>-->
		<!--<div class="col-xs-2">-->
			<!--<a ui-sref="#">-->
				<!--<img src="image/footer/stream_instagram@2x.png" />-->
				<!--<h6>INSTAGRAM</h6>-->
			<!--</a>-->
		<!--</div>-->
	</div>		


	
	

	
	
</div>

<script>
$(function(){
	
		$(".footer-menu-tabs a").click(function(){
			$(".footer-menu-tabs a").removeClass("active");
			$(this).addClass("active");	
		})
})
</script>

