<div class="footer container animation-time" ng-class="{open: open==true}" ng-show="includeActivityStream" style="display:none;">
	<div class="footer-title changeBackgroundColor" >
		<img class="arrow footer-tab-down" src="image/footer/tab-down-arrow@2x.png">
		<img class="arrow footer-tab-up" src="image/footer/tab-up-arrow@2x.png">
		<img class="footer-tab-doc" ui-sref="release"  src="image/footer/icon-doc-write@2x.png">
		<p ng-click="footer_toggle()">ACTIVITY STREAM</p>
	</div>
	<div class="footer-content "   >
		<ion-pane >
	        <ion-content >
	            <ion-refresher 
	            	icon="ios"
	            	pulling-text="Release to refresh" 
	            	on-refresh="doRefresh(tag)"
	            	on-pulling="doPulling()">
	            </ion-refresher>
	            <ion-list>
	            	<div style="position: relative;" >
						<div class="activity-stream">
							<div class="activity-stream-deail" ng-repeat="f in feed track by $index" >
								<div class="new"> 
									<div class="left">
										<img height="50px" src="{{f.thumbnail}}" />
									</div>
									<div class="center">
										<p class="user-title">{{f.username}}</p>
										<p class="user-introduce">{{f.typeLetter}}</p>
									</div>
									<div class="right">
										<div class="time">
											<div class="float-right sum-time commentIcon">
												<span>{{f.times}}</span>
											</div>
											<div class="float-right icon-time commentIcon">
												<img height="15px" src="image/footer/activity/icon_clock@2x.png" />
											</div>
										</div>
									</div>
								</div>
								<div class="new-deail">
									<iframe width="100%" ng-src="{{f.targetUrl}}" frameborder="0" allowfullscreen style="vertical-align: middle;" ng-if="f.targetUrl"></iframe>
									<img width="100%" src="{{f.assetUrl}}"  ng-if="f.assetUrl"/>
									<p class="content"  ng-bind-html="deliberatelyTrustDangerousSnippet(f.content)"></p>
								</div>
								<div class="new-comment">
									<div class="strip" ng-repeat="com in f.comments track by $index">
										<img class="float user-img" height="30px" src="{{com.thumbnail}}" />
										<span class="float user-comment"><strong >{{com.username}}</strong> {{com.content}}</span>
									</div>
								</div>
								<div class="new-fabulous">
									<div class="count love">
										<img height="25px" src="image/footer/activity/icon---like@2x.png" ng-click="addLike(f._id,f.type)" ng-show="f.isLike==false"/>
										<img height="25px" src="image/footer/activity/ico_like@2x.png" ng-click="addLike(f._id,f.type)" ng-show="f.isLike==true"/>
										<span>{{f.numLike}}</span>
									</div>
									<div class="count dope">
										<img height="25px" src="image/footer/activity/icon---comment@2x.png" ng-click="goComment(f._id)"/>
										<span>{{f.numComment}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</ion-list>

				<!--<ion-infinite-scroll ng-if="!noMorePage" spinner =ios immediate-check="false" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>-->
				<ion-infinite-scroll ng-if="hasmore" immediate-check="false"   on-infinite="loadMore(tag)" distance="1%"></ion-infinite-scroll>
			</ion-content>
		</ion-pane>
	</div>
	<!--<div class="footer-menu-tabs" >-->
		<!--<div class="col-xs-2 " ng-repeat="f in bar track by $index" ng-style="widthFooterBar">-->
			<!--<a ng-class="{active:$index==acNum}" ng-click="addActive(f.tag,$index)" >-->
				<!--<img src="image/footer/{{f.icon}}@2x.png" ng-hide="f.iconUrl"/>-->
				<!--<img src="{{f.iconUrl}}" ng-show="f.iconUrl"/>-->
				<!--<h6>{{f.name}}</h6>-->
			<!--</a>-->
		<!--</div>-->
	<!--</div>-->
	<ion-footer-bar align-title="left" class="footer-menu-tabs " ng-class="{changeBackgroundColor:version=='HPE'}">
		<!--<div class="col-xs-2 " >-->
			<div ng-class="{active:$index==acNum}" ng-click="addActive(f.tag,$index)" ng-repeat="f in bar track by $index" ng-style="widthFooterBar" style="height: 100%">
				<img src="image/footer/{{f.icon}}@2x.png" ng-hide="f.iconUrl"  ng-if="version!='HPE'"/>
				<img src="image/HPE/activityStream/{{f.icon}}@2x.png" ng-hide="f.iconUrl"  ng-if="version=='HPE'"/>
				<img src="{{f.iconUrl}}" ng-show="f.iconUrl" />
				<p style="padding: 0;margin: 0">{{f.name}}</p>
			</div>
		<!--</div>-->
	</ion-footer-bar>


	
	

	
	
</div>

<script>
$(function(){
	$(".footer-menu-tabs div").click(function(){
		$(".footer-menu-tabs div").removeClass("active");
		$(this).addClass("active");
	})
})
</script>

