
<div class="header-main" ng-controller="headerController">	
	<div class="header" ng-class="{headerzindex: zindex==true}" ng-if="version!='HPE'">
		<a class="loginLeftImg" ng-click="comeback()">
			<img src="image/6891_cisco_meeting_overview_02@2x.png" ng-if="version=='CXC'">
			<img src="image/AVAYA/6891_cisco_meeting_overview_02@2x.png" ng-if="version=='AVAYA'">
		</a>
		<!--<h1 ng-bind="headerTitle"></h1>-->

		<div class="header-menu" ng-click="header_toggle()" ng-if="showRightMenu==true">
			<img src="image/header/6891_cisco_meeting_overview_01@2x.png" ng-if="version=='CXC'">
			<img src="image/AVAYA/6891_cisco_meeting_overview_01@2x.png" ng-if="version=='AVAYA'">
		</div>
	</div>
	<div class="header" ng-class="{headerzindex: zindex==true,headerBlockOrNone:headerBlockOrNone==true}" ng-if="version=='HPE'">
		<a class="loginLeftImg" ng-click="comeback()">
			<img src="image/6891_cisco_meeting_overview_02@2x.png" ng-if="version=='CXC'">
			<img src="image/HPE/05_hpe_overview_02.png" ng-if="version=='HPE'">
		</a>
		<!--<h1 ng-bind="headerTitle"></h1>-->

		<div class="header-menu" ng-click="header_toggle()" ng-if="showRightMenu==true">
			<img src="image/header/6891_cisco_meeting_overview_01@2x.png" ng-if="version=='CXC'">
			<img src="image/HPE/05_hpe_overview_01.png" ng-if="version=='HPE'">
		</div>
	</div>
<div class="header-menu-tabs animation-time " ng-class="{open: headeropen==true,changeBackgroundColor:version=='CXC'}" style="z-index:1000;">
	<ion-content >
		<div class="header-close" ng-click="header_toggle()"><img class="header-close-img" src="image/header/menu/menu_cancel@2x.png"></div>
		<div class="header-padding" >
			<div class="header-user-information"  ng-click="header_hidemodel()">
				<div class="header-user-left">
					<img class="header-user-photo" src="{{userData.image}}">
					<p class="eit">edit</p>
				</div>
				<div class="header-user-right">
					<p class="header-user-title">{{userData.name}}</p>
					<p class="header-user-vicetitle">{{userData.title}}</p>
				</div>
			</div>
			<div class="navigation-link">
				<ul class="navigation-link-ul">
					<li ng-if="version !='HPE'">
						<img src="image/header/menu/menu_07.png">
						<a ui-sref="index" ng-click="close_footer()">Meeting Overview</a>
					</li>
					<li ng-if="version =='HPE'">
						<img src="image/HPE/menu/05_hpe_overview_slideout (1).png">
						<a ui-sref="index" ng-click="close_footer()">Briefing Overview</a>
					</li>
					<!--<li ng-if="version !='HPE' && includeActivityStream==true">-->
						<!--<img src="image/header/menu/menu_11.png">-->
						<!--<a ui-sref="index" ng-click="open_footer()">Activity Stream</a>-->
					<!--</li>-->
					<!--<li ng-if="version =='HPE' && includeActivityStream==true">-->
						<!--<img src="image/HPE/menu/05_hpe_overview_slideout (2).png">-->
						<!--<a ui-sref="index" ng-click="open_footer()">Activity Stream</a>-->
					<!--</li>-->
					<li ng-if="version !='HPE'">
						<img src="image/header/menu/menu_13.png">
						<a ng-click="myagenda()">My Agenda</a>
					</li>
					<li ng-if="version =='HPE'">
						<img src="image/HPE/menu/05_hpe_overview_slideout (3).png">
						<a ng-click="myagenda()">Agenda</a>
					</li>
					<li ng-if="version !='HPE'">
						<img src="image/header/menu/menu_16.png">
						<a  ng-click="attendees()">Attendees</a>
					</li>
					<li ng-if="version =='HPE'">
						<img src="image/HPE/menu/05_hpe_overview_slideout (4).png">
						<a  ng-click="attendees()">Attendees</a>
					</li>
					<li ng-if="version !='HPE'">
						<img src="image/header/menu/menu_20.png">
						<a  ng-click="econtent()">eContent</a>
					</li>
					<li ng-if="version =='HPE'">
						<img src="image/HPE/menu/05_hpe_overview_slideout (5).png">
						<a  ng-click="econtent()">Content</a>
					</li>
					<li ng-if="version !='HPE' && displayTravelAndLogisitics == true">
						<img src="image/header/menu/menu_23.png">
						<a ng-click="travelLogistics()" >Travel & Logistics</a>
					</li>
					<li ng-if="version =='HPE' && displayTravelAndLogisitics == true" >
						<img src="image/HPE/menu/05_hpe_overview_slideout (6).png">
						<a ng-click="travelLogistics()" >Travel & Logistics</a>
					</li>
					<li ng-if="version !='HPE'">
						<img src="image/header/menu/menu_27.png">
						<a ng-click="goNotifications()" >Notifications</a>
					</li>
					<li ng-if="version =='HPE'">
						<img src="image/HPE/menu/05_hpe_overview_slideout (8).png">
						<a ng-click="goNotifications()" >Notifications</a>
					</li>
					<li ng-if="version =='HPE'">
						<img src="image/HPE/menu/05_hpe_overview_slideout (9).png">
						<a ng-click="surveys()" >Feedback</a>
					</li>
					<!--<li>-->
						<!--<img src="image/header/menu/menu_29.png">-->
						<!--<a ng-click="wayfiding()">Wayfinfing</a>-->
					<!--</li>-->

					<li ng-if="version !='HPE'">
						<img src="image/header/menu/menu_32.png">
						<a ng-click="notifications()">Polls</a>
					</li>
					<li ng-if="version =='HPE'">
						<img src="image/HPE/menu/05_hpe_overview_slideout (10).png">
						<a ng-click="notifications()">Polls</a>
					</li>
					<li  ng-if="version !='HPE'">
						<img src="image/header/menu/menu_34.png">
						<a  ng-click="meeting()">Meeting Selector</a>
					</li>
					<li  ng-if="version =='HPE'">
						<img src="image/HPE/menu/05_hpe_overview_slideout (11).png">
						<a  ng-click="meeting()">My Briefings</a>
					</li>
					<li ng-click="showConfirm()">
						<img src="image/header/menu/menu_36.png">
						<a>Log Out</a>
					</li>
				</ul>
				
			</div>

		</div>

	</ion-content >
	<ion-footer-bar align-title="left" style="height: 20px;    padding-left: 0;">
		<div class="navigation-bottom" ng-class="{B425563:version!='CXC'}">
			<div class="lef"><a href="{{footerDateUrl}}" target="_blank">{{footerDate}}</a></div>
			<div class="cen"><a href="{{footerCenterUrl}}" target="_blank">{{footerCenter}}</a></div>
			<div class="rig">6.0.2</div>
		</div>
	</ion-footer-bar>

</div>


</div>



