<div class="header-title">
	<a class="loginLeftImg" ng-click="comeback()">
		<img src="image/6891_cisco_meeting_overview_02@2x.png" ng-if="version=='CXC'">
		<img src="image/HPE/05_hpe_overview_02.png" ng-if="version=='HPE'">
	</a>
	<h1 class="list-title-h1" style="margin-left: 0px;">{{headerTitle}}</h1>

	<div class="header-menu" ng-click="header_toggle()">
		<img src="image/header/6891_cisco_meeting_overview_01@2x.png" ng-if="version=='CXC'">
		<img src="image/HPE/05_hpe_overview_01.png" ng-if="version=='HPE'">
	</div>
</div>

<div class="release">
	<div class="release-deail" >
		<div class="left">
			<input type="file" accept="image/jpeg" capture="camera" class="uploadImage" id="uploadImage" />
			<img width="90px" src="{{imageUrlNow}}" class="releaseImg" id="releaseImg"/>
		</div>
        <script>
            $("input[type=file]").change(function () {
                /* 压缩图片 */
                lrz(this.files[0], {
//                    width: 300 //设置压缩参数
                }).then(function (rst) {
                    /* 处理成功后执行 */
                    $('#releaseImg').attr("src",rst.base64);
                    rst.formData.append('base64img', rst.base64); // 添加额外参数
                }).catch(function (err) {
                    console.log(err);
                    /* 处理失败后执行 */
                }).always(function () {
                    /* 必然执行 */
                })
            })
        </script>
		<div class="right">
			<span>Tap the icon to add a photo. Enter text for your post below...</span>
		</div>
	</div>
	<div class="release-bottm">
        <div class="left">
            <div id="leave-message-textarea" class="leave-message-textarea" contenteditable="true" data-text="Type post here..."></div>
            <!--<input type="text" placeholder="Type post here..."/>-->
            <!--<textarea placeholder="Type post here..."></textarea>-->
        </div>
        <div class="right changeBorderColor" ng-click="releasePost()">
            <a>Post</a>
        </div>
    </div>
</div>
<div class="cx-model" ng-class="{open: modelopen== true}" ng-click="modelclose()"></div>
<div class="pull-up-menu release-pull-up-menu" ng-class="{open: upmenuopen== true}" ng-click="modelclose()">
	<ul class="pull-up-menu-ul ">
		<li>Please select</li>
		<li class="bull">Take Photo</li>
		<li class="bull">Select from Album</li>
	</ul>
	<a class="last-li">Cancel</a>
</div>
