<div ng-show="version =='CXC'">
    <img class="welcome-bg-img" src="image/Welcome/loading_bg@2x.png">
    <div class="welcome">
        <div class="logo col-xs-12">
            <img width="30%" src="image/cisco_logo@2x.png"/>
        </div>
        <div class="col-xs-12 powered">
            <ion-spinner icon="ios-small"></ion-spinner>
            <p>Powered by CXApp.io</p>
        </div>

        <div class="col-xs-12 welcome-cisco-logo">
            <img class="cisco-logo" src="image/home/copyright@2x.png">
        </div>
    </div>
</div>
<div ng-show="version =='HPE'">
    <img class="welcome-bg-img" src="image/Welcome/loading_bgHPE.png">
    <div class="welcome">
        <div class="logo col-xs-12" style="padding-top: 80px;">
            <img width="50%" src="image/HPE/app_logo_w.png"/>
        </div>
        <div class="col-xs-12 powered" style="color: #fff;">
            <ion-spinner icon="ios-small"></ion-spinner>
            <p style="color: #fff;">Powered by CXApp.io</p>
        </div>

        <div class="col-xs-12 welcome-cisco-logo">
            <!--<img class="cisco-logo" src="image/home/copyright@2x.png">-->
        </div>
    </div>
</div>
<div ng-show="version =='AVAYA'">
    <!--<img class="welcome-bg-img" src="image/Welcome/loading_bgHPE.png">-->
    <div class="welcome" >
        <div class="logo col-xs-12" style="padding-top: 80px;">
            <img width="30%" src="image/AVAYA/loading@2x.png"/>
        </div>
        <div class="col-xs-12 powered" style="color: #fff;">
            <ion-spinner icon="ios-small"></ion-spinner>
            <p style="color: #fff;">Powered by CXApp.io</p>
        </div>

        <div class="col-xs-12 welcome-cisco-logo">
            <!--<img class="cisco-logo" src="image/home/copyright@2x.png">-->
        </div>
    </div>

</div>
