<div class="header-title">
	<h1 class="list-title-h1">Attendees</h1>
</div>
<div class="attendees-email">
<div class="attendees-list-all">
		<div class="attendees-list email">
			<div class="left">
				<img  src="image/test/1.png">
			</div>
			<div class="right">
				<p class="attendees-title changeColor">Fa Fa Fa Fa Fa Fa</p>
				<p class="">Fa Fa </p>
				<a class="cx-btn cx-btn-80 changeColor changeBorderColor">Email</a>
				<a class="cx-btn cx-btn-80 changeColor changeBorderColor">Linkedln</a>
			</div>
		</div>									  								
</div>	
</div>
