<div class="bio-Ancestors">
	<div class="header-title"> 
		<h1 class="list-title-h1">{{headerTitle}}</h1>
	</div>


	<div class="bio" id="bioData" contenteditable="true">
		{{dataBio}}
	</div>

	<div class="save-changes-bottom" ng-click="save_changes_bottom()">
		<a class="save-changes-button">Save Changes</a>
	</div>
</div>
