<div>
	<div class="header-title" >
		<!--<a class="loginLeftImg" ng-click="comeback()">-->
			<!--<img src="image/6891_cisco_meeting_overview_02@2x.png" ng-if="version=='CXC'">-->
			<!--<img src="image/HPE/05_hpe_overview_02.png" ng-if="version=='HPE'">-->
		<!--</a>-->
		<h1 class="list-title-h1">{{headerTitle}}</h1>
		<!--<div class="header-menu" ng-click="header_toggle()" ng-if="showRightMenu==true">-->
			<!--<img src="image/header/6891_cisco_meeting_overview_01@2x.png" ng-if="version=='CXC'">-->
			<!--<img src="image/HPE/05_hpe_overview_01.png" ng-if="version=='HPE'">-->
		<!--</div>-->
	</div>
	<div class="updatepassword">
		<img width="40%" src="image/cisco_logo@2x.png" ng-if="version=='CXC'"/>
		<img width="50%" src="image/HPE/app_logo.png"  ng-if="version=='HPE'"/>
		<p class="updatepassword-p" style="color:#555 !important;"> We've sent you an email to update your password. If you don't see it in your Inbox, please check your Spam folder.</p>
	</div>
	<ion-footer-bar align-title="left" style="height: 20px">
		<div class="navigation-bottom">
			<div class="lef" ><a href="{{footerDateUrl}}" target="_blank" style="color:#555 !important;">{{footerDate}}</a></div>
			<div class="cen" ><a href="{{footerCenterUrl}}" target="_blank" style="color:#555 !important;">{{footerCenter}}</a></div>
			<div class="rig" style="color:#555 !important;">6.0.2</div>
		</div>
	</ion-footer-bar>
</div>
