<div class="header-title" style="    height: 0;position: absolute;" ng-if="version=='HPE'">
	<h1 class="list-title-h1">{{headerTitle}}</h1>
</div>
<div class="header-title" ng-if="version!='HPE'">
	<h1 class="list-title-h1">{{headerTitle}}</h1>
</div>
<div class="home" >
	<div class="home-slide">
		<ion-slide-box does-continue="true" auto-play="true" slide-interval="4000" show-pager="false" delegate-handle="box" >
			<ion-slide  ng-repeat="d in meetingSelect.banners track by $index" on-hold="onHold()" on-release="onRelease()" >
				<a href="{{d.link}}" target="_blank"  on-hold="onHold()" on-release="onRelease()">
					<div class="modal-img"></div>
					<img src="{{d.image}}" ng-show="d.image !='' || d.image !=null">
					<div style="height:200px;background: #fff;" ng-show="d.image =='' || d.image ==null">
					</div>
				</a>
			</ion-slide>
    	</ion-slide-box>
	</div>

	<div class="row border-bottom" ng-if="version!='HPE'">
		<div class="home-title text-left col-xs-8">
			<h4>{{meetingSelect.name}}</h4>
			<p class="subtitle"> {{meetingSelect.meetingSubtitle1}}<br> {{meetingSelect.meetingSubtitle2}}</p>
		</div>	
		<div class="col-xs-4 padding-no">
			<img class="cisco-logo" src="{{imgUrl+meetingSelect.clientLogo}}" ng-show="meetingSelect.clientLogo">
		</div>
	</div>
	<div class="home-lists" ng-if="version!='HPE'">
		<div class="row home-list">
			<div class="col-xs-4">
				<a class="text-center color333" ng-click="myagenda()">
					<img class="home-list-img" src="image/home/6891_cisco_meeting_overview_03@2x.png" ng-if="version=='CXC'">
					<img class="home-list-img" src="image/AVAYA/6891_cisco_meeting_overview_03@2x.png" ng-if="version=='AVAYA'">
					<p>Agenda</p>
				</a>
			</div>
			<div class="col-xs-4">
				<a class="text-center color333" ui-sref="homeLists.attendees">
					<img class="home-list-img" src="image/home/6891_cisco_meeting_overview_05@2x.png" ng-if="version=='CXC'">
					<img class="home-list-img" src="image/AVAYA/6891_cisco_meeting_overview_05@2x.png" ng-if="version=='AVAYA'">
					<p>Attendees</p>
				</a>
			</div>
			<div class="col-xs-4" >
				<a class="text-center color333" ng-click="econtent()">
					<img class="home-list-img" src="image/home/6891_cisco_meeting_overview_04@2x.png" ng-if="version=='CXC'">
					<img class="home-list-img" src="image/AVAYA/6891_cisco_meeting_overview_04@2x.png" ng-if="version=='AVAYA'">
					<p>eContent</p>
				</a>
			</div>
		</div>	
		<div class="row home-list">
		<div class="col-xs-4" ng-if="displayTravelAndLogisitics==true">
			<a class="text-center color333" ng-click="travelLogistics()">
				<img class="home-list-img" src="image/home/6891_cisco_meeting_overview_06@2x.png" ng-if="version=='CXC'">
				<img class="home-list-img" src="image/AVAYA/6891_cisco_meeting_overview_06@2x.png" ng-if="version=='AVAYA'">
				<p>Travel & Logistics</p>
			</a>
		</div>
		
		<!--<div class="col-xs-4">-->
			<!--<a class="text-center" ng-click="wayfiding()"> &lt;!&ndash;ui-sref="homeLists.wayfiding"&ndash;&gt;-->
				<!--<img class="home-list-img" src="image/home/6893_cisco_agenda_item_detail_02@2x.png">-->
				<!--<p>Wayfiding</p>-->
			<!--</a>-->
		<!--</div>-->

		<div class="col-xs-4">
			<a class="text-center color333" ng-click="surveys()" > <!--ui-sref="homeLists.wayfiding"-->
				<img class="home-list-img" src="image/home/6891_cisco_meeting_overview_07@2x.png" ng-if="version=='CXC'">
				<img class="home-list-img" src="image/AVAYA/6891_cisco_meeting_overview_07@2x.png" ng-if="version=='AVAYA'">
				<p>Surveys</p>
			</a>
		</div>

		<div class="col-xs-4">
			<a class="text-center color333"  ng-click="goNotifications()">
				<img class="home-list-img" src="image/home/6891_cisco_meeting_overview_08@2x.png" ng-if="version=='CXC'">
				<img class="home-list-img" src="image/AVAYA/6891_cisco_meeting_overview_08@2x.png" ng-if="version=='AVAYA'">
				<p>Notifications</p>
			</a>
		</div>
	</div>

	</div>

	<div ng-if="version=='HPE'" class="xbj ">
		<div class="rowbj col-xs-12" >
			<div class="row border-bottom BC" >
				<div class="home-title text-left col-xs-7">
					<h4 class="colorFFF">{{meetingSelect.name}}</h4>
					<p class="subtitle colorFFF"> {{meetingSelect.meetingSubtitle1}}<br> {{meetingSelect.meetingSubtitle2}}</p>
				</div>
				<div class="col-xs-5 padding-no">
					<img class="cisco-logo" src="{{imgUrl+meetingSelect.clientLogo}}" ng-show="meetingSelect.clientLogo">
				</div>
			</div>
		</div>

		<div class="home-lists homeListbj col-xs-12" >
			<div class="row home-list topTwo">
				<div class="col-xs-4 BC rightTwo zfx">
					<a class="text-center color333" ng-click="myagenda()">
						<img class="home-list-img" src="image/HPE/home/05_hpe_overview_03.png">
						<p>Agenda</p>
					</a>
				</div>
				<div class="col-xs-4 BC zfx">
					<a class="text-center color333" ui-sref="homeLists.attendees">
						<img class="home-list-img" src="image/HPE/home/05_hpe_overview_04.png">
						<p>Attendees</p>
					</a>
				</div>
				<div class="col-xs-4 BC leftTwo zfx" >
					<a class="text-center color333" ui-sref="homeLists.econtent">
						<img class="home-list-img" src="image/HPE/home/05_hpe_overview_05.png">
						<p>Content</p>
					</a>
				</div>
			</div>
			<div class="row home-list topTwo ">
				<div class="col-xs-4 BC rightTwo zfx" ng-if="displayTravelAndLogisitics==true">
					<a class="text-center color333" ng-click="travelLogistics()">
						<img class="home-list-img" src="image/HPE/home/05_hpe_overview_06.png">
						<p style="transform: scale(0.8);white-space: nowrap;">Travel & Logistics</p>
					</a>
				</div>

				<!--<div class="col-xs-4">-->
				<!--<a class="text-center" ng-click="wayfiding()"> &lt;!&ndash;ui-sref="homeLists.wayfiding"&ndash;&gt;-->
				<!--<img class="home-list-img" src="image/home/6893_cisco_agenda_item_detail_02@2x.png">-->
				<!--<p>Wayfiding</p>-->
				<!--</a>-->
				<!--</div>-->

				<div class="col-xs-4 BC zfx">

					<a class="text-center color333"  ng-click="goNotifications()">
						<img class="home-list-img" src="image/HPE/home/home-icon-notification@2x.png">
						<p>Notifications</p>
					</a>
				</div>

				<div class="col-xs-4 BC leftTwo zfx" >
					<a class="text-center color333" ng-click="surveys()" >
						<img class="home-list-img" src="image/HPE/home/icon_feedback@2x.png">
						<p>Feedback</p>
					</a>
				</div>
			</div>

		</div>
	</div>

</div>