<style>
    .xz{
        background-color: #f1f1f1 !important;
    }
</style>
<div class="agenda-menu-animation animation-time" ng-class="{open: agendamenuanimation == true}" style="    height: 100%;">
	<div class="header-title">
		<a ng-class="{hideimg:toback == true}" class="loginLeftImg" ng-click="comeback()">
			<img src="image/6891_cisco_meeting_overview_02@2x.png" ng-if="version=='CXC'">
            <img src="image/HPE/05_hpe_overview_02.png" ng-if="version=='HPE'">
            <img src="image/AVAYA/6891_cisco_meeting_overview_02@2x.png" ng-if="version=='AVAYA'">
		</a>
		<h1 class="list-title-h1">{{headerTitle}}</h1>
		<div class="header-menu" ng-click="header_toggle()">
			<img src="image/header/6891_cisco_meeting_overview_01@2x.png" ng-if="version=='CXC'">
            <img src="image/HPE/05_hpe_overview_01.png" ng-if="version=='HPE'">
            <img src="image/AVAYA/6891_cisco_meeting_overview_01@2x.png" ng-if="version=='AVAYA'">
		</div>
	</div>
	<div class="agenda">
		<div class="agenda-search">
			<img class="search-img" src="image/home/agenda/agenda_search@2x.png" ng-if="version=='CXC'">
            <img class="search-img" src="image/HPE/search.png" ng-if="version=='HPE'">
            <img class="search-img" src="image/AVAYA/search.png" ng-if="version=='AVAYA'">
			<input class="search-input changeBorderColor" type="text" ng-model="search" ng-change="titleSearch()" placeholder="Search..." ng-if="version!='HPE'" id="agendaF">
            <input class="search-input" type="text" ng-model="search" ng-change="titleSearch()" placeholder="Search..." ng-if="version=='HPE'" id="agendaF">
			<img ng-show="agendaItemFilter.length > 0" ng-click="agendamenu()" class="filter-menu-img" src="image/home/agenda/agenda_filter@2x.png" ng-if="version=='CXC'">
            <img ng-show="agendaItemFilter.length > 0" ng-click="agendamenu()" class="filter-menu-img" src="image/HPE/ge.png" ng-if="version=='HPE'">
            <img ng-show="agendaItemFilter.length > 0" ng-click="agendamenu()" class="filter-menu-img" src="image/AVAYA/ge.png" ng-if="version=='AVAYA'">
		</div>
		<div class="agenda-ul-div" ng-if="agendaul">
			<ul class="agenda-ul">
				<li ng-class="{active:allOrMy == true}" ng-click="fullOrMy('all')">Full Agenda</li>
				<li ng-class="{active:allOrMy == false}" ng-click="fullOrMy('my')">My Agenda</li>
			</ul>
		</div>

		<div class="agenda-times" style="height: 108px;">
            <ion-slide style="width:60px;height: 100%;float:left;">
                <div class="left" ng-click="preSlide()">
                    <img width="100%"  src="image/home/agenda/tab_left@2x.png" ng-if="version=='CXC'">
                    <img width="100%"  src="image/HPE/icon-arrow-carrot-left@2x.png" ng-if="version=='HPE'">
                    <img width="100%"  src="image/AVAYA/icon-arrow-carrot-left@2x.png" ng-if="version=='AVAYA'">
                    <div class="modal-img"></div>
                </div>
            </ion-slide>
            <ion-scroll class="ner"  direction="x"  style="float:left;width:calc(100% - 120px);height: 98%;background: #fff;">
                <div flex="main:center cross:center">
                    <div ng-repeat="d in timeArr track by $index" ng-click="onSlide($index)"  ng-show="d.myagenda==true" ng-class="{xz:$index==num}" style="height:108px;padding-top: 10px;float:left;width: 55px;">
                        <div class="agendaC"  >
                            <p>{{d.day[0].weekday}}</p>
                            <p>{{d.day[0].month}}</p>
                            <h4>{{d.day[0].day}}</h4>
                        </div>
                    </div>
                </div>

            </ion-scroll>
            <ion-slide style="width:60px;height: 100%;float:left;">
                <div class="right" ng-click="nextSlide()">
                    <img width="100%"  src="image/home/agenda/tab_right@2x.png" ng-if="version=='CXC'">
                    <img width="100%"  src="image/HPE/icon-arrow-carrot-right@2x.png" ng-if="version=='HPE'">
                    <img width="100%"  src="image/AVAYA/icon-arrow-carrot-right@2x.png" ng-if="version=='AVAYA'">
                    <div class="modal-img"></div>
                </div>
            </ion-slide>
		</div>

		<div class="agenda-pull" style="background: #fff;display: none;">
			<div class="table-center">
				<div class="beo"></div>
				<div class="pull-down-to">Pull down to update Agenda</div>
				<div class="aft"></div>
			</div>
		</div>
		<div class="agenda-lists" ng-class="{true:'top255',false:'top195'}[agendaul]"  style="background: #fff;">
			<ion-content >
                 <ion-refresher pulling-text="Release to refresh" on-refresh="doRefresh()"></ion-refresher>
                 <ion-list>
                     <div class="agenda-list-all">
                         <div class="agenda-list" ng-repeat="agenda in agendaData track by $index" ng-if="agenda.isGroup==false" ng-show="agenda.myagenda==true">
                             <div class="agenda-list-top" ng-click="agendaListOpen($index,agenda)" ng-class="{open:agenda.open}">
                                   <div class="left">
                                        <p ng-if="agenda.timeStart != agenda.timeEnd">{{agenda.timeStart}}<br/>to<br/>{{agenda.timeEnd}}</p>
                                        <p ng-if="agenda.timeStart == agenda.timeEnd">
                                            {{agenda.timeStart}}
                                        </p>
                                    </div>
                                   <div class="right">
                                        <p class="agenda-title changeColor">{{agenda.name}}</p>
                                        <p>{{agenda.room}}</p>
                                   </div>
                             </div>
                             <div class="agenda-list-btn animation-time" ng-class="{open: agenda.open}" ng-if="agendaExtension==true">
                                  <a class="cx-btn changeColor changeBorderColor" ng-click="yesOpen($index,agenda.id,num,agenda.id,agenda.notify)">
                                       <img class="yes-img" ng-class="{open: agenda.notify}" src="image/home/agenda/profile_icon_mark@2x.png">
                                       <span ng-if="version!='HPE'" class="changeColor">Notify</span>
                                      <span ng-if="version=='HPE'" >Notify</span>
                                  </a>
                                 <a class="cx-btn changeColor changeBorderColor" ng-click="openAgenda($index,agenda.id,num,agenda.id,agenda.isMyAgenda)" ng-if="agendaReminderTurnOn==false">
                                     <img class="yes-img" ng-class="{open: agenda.isMyAgenda}" src="image/home/agenda/profile_icon_mark@2x.png">
                                     <span ng-if="version!='HPE'" class="changeColor">Agenda</span>
                                     <span ng-if="version=='HPE'">Agenda</span>
                                 </a>
                                  <a class="cx-btn changeColor changeBorderColor" ng-click="details(agenda)">Details</a>

                             </div>
                        </div>
                        <div class="agenda-list order" ng-repeat="agenda in agendaData track by $index" ng-if="agenda.isGroup==true"  ng-show="agenda.myagenda==true ">
                             <div class="agenda-list-top" ng-click="agendaListOpen($index)" >
                                 <div class="left ">
                                    <p >{{agenda.timeStart}}<br/>to<br/>{{agenda.timeEnd}}</p>
                                 </div>
                                 <div class="right">
                                    <p class="agenda-title "><span class="changeColor">{{agenda.name}}</span><span class="rightNot">{{agenda.items.length}}</span></p>
                                 </div>
                             </div>

                            <div class="agenda-list-top agenda-list-top-order" ng-repeat="item in agenda.items track by $index" ng-class="{orderAgenda:agenda.open}" >
                                <div class="left ">

                                </div>
                                <div class="right">
                                    <div ng-click="rightOrder(item)">
                                        <p class="agenda-title ">
                                            <span class="changeColor">{{item.name}}</span>
                                        </p>
                                        <p>{{item.room}}</p>
                                    </div >
                                        <div class="animation-time rightOrder" ng-class="{open:rightOrderOpen==true}" ng-if="agendaExtension==true">
                                           <a class="cx-btn changeColor changeBorderColor" ng-click="yesOpen($index,agenda.id,num,item.id,item.notify)">
                                                <img class="yes-img"   src="image/home/agenda/profile_icon_mark@2x.png" ng-class="{open: item.notify}">
                                               <span ng-if="version!='HPE'" class="changeColor">Notify</span>
                                               <span ng-if="version=='HPE'" >Notify</span>
                                           </a>
                                           <a class="cx-btn changeColor changeBorderColor" ng-if="agendaReminderTurnOn==false" ng-click="openAgenda($index,agenda.id,num,item.id,item.isMyAgenda)">
                                               <img class="yes-img" ng-class="{open: item.isMyAgenda}" src="image/home/agenda/profile_icon_mark@2x.png">
                                               <span ng-if="version!='HPE'" class="changeColor">Agenda</span>
                                               <span ng-if="version=='HPE'">Agenda</span>
                                           </a>
                                           <a class="cx-btn changeColor changeBorderColor" ng-click="details()">Details</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </ion-list>
            </ion-content >
		</div>

	</div>
	
    <div class="agenda-menu-color animation-time" ng-class="{agendamenucoloranimation : agendamenuanimation == true}">
        <p class="agenda-filters">Agenda Filters</p>
        <ul class="agenda-filters-ul">
            <li ng-click="fiterItem('all')">
                <div class="left">
                    <div class="agenda-color agenda-color-white"></div>
                </div>
                <div class="right">
                    All
                </div>
            </li>
            <li ng-repeat="af in agendaItemFilter track by $index" ng-click="fiterItem(af.id)">
                <div class="left">
                    <div class="agenda-color " style="background: {{af.color}};"></div>
                </div>
                <div class="right">
                    {{af.tag}}
                </div>
            </li>
            <!--<li>-->
                <!--<div class="left">-->
                    <!--<div class="agenda-color agenda-color-green"></div>-->
                <!--</div>-->
                <!--<div class="right">-->
                    <!--Recipes-->
                <!--</div>-->
            <!--</li>-->
        </ul>
    </div>
    <div ng-class="{agendamodelshow:agendamenuanimation == true}" class="agenda-model" ng-click="agendamodel()"></div>
</div>




