<div class="header-title">
	<h1 class="list-title-h1">{{headerTitle}}</h1>
</div>
<div class="attendees">
	<div class="attendees-search">
		<div class="father">
			<img class="inside-search-img " ng-src="image/home/attendees/ico-view@2x.png" ng-if="version=='CXC'">
			<img class="inside-search-img " ng-src="image/HPE/search/search.png" ng-if="version=='HPE'">
			<img class="inside-search-img " ng-src="image/AVAYA/icon_search_1.png" ng-if="version=='AVAYA'">
			<input class="search-input changeBorderColor" placeholder="Search..." id="attendeesSearch">
		</div>
		<a class="search-img changeBackgroundColor" ng-click="attendeesSearch()">GO</a>

		<div ng-class="{attendeesS:companyOpen==true || tagsOpen==true}">
			<div class="select changeBorderColor " ng-show="companyOpen">
				<select class="changeColor" ng-change="companyChange(val)"  ng-model="val" ng-init="val = 'All Companies'" id="companyChange">
					<option>All Companies</option>
					<option ng-repeat="c in attendeesC track by $index">{{c}}</option>
				</select>
			</div>
			<div class="select changeBorderColor " ng-show="tagsOpen">
				<select class="changeColor" ng-change="tagsChange(TVal)"  ng-model="TVal" ng-init="TVal = 'All Tags'" id="tagsChange">
					<option>All Tags</option>
					<option ng-repeat="t in attendeesT track by $index">{{t.tag}}</option>
				</select>
			</div>
		</div>

	</div>
	<div class="attendees-lists" ng-class="{top122:companyOpen==false && tagsOpen==false,top167:companyOpen==true || tagsOpen==true,top205:companyOpen==true && tagsOpen==true,height122:companyOpen==false && tagsOpen==false,height167:companyOpen==true || tagsOpen==true,height205:companyOpen==true && tagsOpen==true}">
		<ion-content >
			<ion-refresher pulling-text="Release to refresh" on-refresh="doRefresh()"></ion-refresher>
			<ion-list>
				 <div class="attendees-list-all">
					<a ng-repeat="a in attendeesD track by $index" ng-click="goProfile(a.id)">
						<div class="attendees-list">
							<div class="left">
								<img src="{{a.image}}">
								<img src="image/HPE/v6_share_linkedin.png" class="linkIn" ng-if="a.linkedInURL && a.linkedInURL != ''"/>
							</div>
							<div class="right">
								<p class="attendees-title changeColor">{{a.name}}</p>
								<p class="block">{{a.title}} </p>
								<p class="colorCcc">{{a.company}}</p>
							</div>
						</div>
					</a>
				 </div>
			</ion-list>
			<ion-infinite-scroll ng-if="hasmore" immediate-check="false"   on-infinite="loadMore(tag)" distance="1%"></ion-infinite-scroll>
		</ion-content >
	</div>
</div>
