<div class="header-title">
    <a class="loginLeftImg" ng-click="comeback()">
        <img src="image/6891_cisco_meeting_overview_02@2x.png" ng-if="version=='CXC'">
        <img src="image/HPE/05_hpe_overview_02.png" ng-if="version=='HPE'">
    </a>
    <h1 class="list-title-h1" style="margin-left: 0px;">{{headerTitle}}</h1>

    <div class="header-menu" ng-click="header_toggle()">
        <img src="image/header/6891_cisco_meeting_overview_01@2x.png" ng-if="version=='CXC'">
        <img src="image/HPE/05_hpe_overview_01.png" ng-if="version=='HPE'">
    </div>
</div>
<div class="release">
    <ion-content >
        <ion-refresher
                icon="ios"
                pulling-text="Release to refresh"
                on-refresh="doRefresh()" on-pulling="doPulling()">
        </ion-refresher>
        <ion-list>
            <div class="list">
                <div class="comment-deail" ng-repeat="c in comment track by $index">
                    <div class="comment-deailLeft">
                        <img width="100%" src="{{c.thumbnail}}" />
                    </div>
                    <div class="comment-deailRight">
                        <p style="    margin-bottom: 2px;"><span class="colorBlack fontSize">{{c.username}}</span></p>
                        <p class="">{{c.content}}</p>
                    </div>
                    <div class="comment-deailLastRight">
                        <div class="float-right sum-time paddingLeft commentFontSize">
                            <span>{{c.times}}</span>
                        </div>
                        <div class="float-right icon-time commentIcon">
                            <img height="13px" src="image/footer/activity/icon_clock@2x.png" />
                        </div>

                        <!--<span class="commentTime">{{c.times}}</span>-->
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
    <div class="release-bottm">
        <div class="left">
            <div id="comment" class="leave-message-textarea" contenteditable="true" data-text="Type post here..."></div>
            <!--<textarea  placeholder=""  id="comment"></textarea>-->
            <!--<input type="text" placeholder="" />-->
        </div>
        <div class="right changeBorderColor">
            <a ng-click="postComment()">Post</a>
        </div>
    </div>
</div>



