<div class="header-title">
	<h1 class="list-title-h1">{{headerTitle}}</h1>
</div>
<div class="eContent">
	<div class="eContent-search">
		<!--<form>-->
			<div class="father">
				<img class="inside-search-img " ng-src="image/home/attendees/ico-view@2x.png" ng-if="version=='CXC'">
				<img class="inside-search-img " ng-src="image/HPE/search/search.png" ng-if="version=='HPE'">
				<img class="inside-search-img " ng-src="image/AVAYA/icon_search_1.png" ng-if="version=='AVAYA'">
				<!--<img class="inside-search-img" ng-src="image/home/agenda/agenda_search@2x.png">	-->
				<input class="search-input changeBorderColor" placeholder="Search..." id="econtentSearch">
			</div>
			<a class="search-img changeBackgroundColor" ng-click="esearch()">GO</a>
			<div class="attendeesS" ng-show="econtentTag.length > 0">
				<div class="select changeBorderColor" >
					<select class="changeColor" ng-change="tagsChange(TVal)"  ng-model="TVal" ng-init="TVal = 'All Tags'" id="econtentTagsChange">
						<option>All Tags</option>
						<option ng-repeat="t in econtentTag track by $index">{{t.tag}}</option>
					</select>
				</div>
			</div>
		<!--</form>-->

	</div>

	<div class="eContent-lists" ng-class="{econtentTag:econtentTag.length >0}">
		<ion-content >
			<ion-refresher pulling-text="Release to refresh" on-refresh="doRefresh()"></ion-refresher>
			<ion-list>
				<div class="eContent-list-all">

					<div class="eContent-list" ng-repeat="e in econtentD track by $index">
						<div class="left" ng-if="version =='CXC'">
							<img  src="image/home/econtent/econtent_file@2x.png" ng-show="e.fileType != 'pdf'" class="width60">
							<img  src="image/home/econtent/econtent_pdfs@2x.png" ng-show="e.fileType == 'pdf'" class="width60">
						</div>
						<div class="left" ng-if="version =='HPE'">
							<img  src="image/HPE/econtent/11_hpe_content_01.png" ng-show="e.fileType != ''" class="width60">
							<img  src="image/HPE/econtent/11_hpe_content_02.png" ng-show="e.fileType == ''" class="width60">
						</div>
						<div class="left" ng-if="version =='AVAYA'">
							<img  src="image/AVAYA/econtent/econtent_work@2x.png" ng-show="e.fileType != '' &&  e.fileType!='pdf'" class="width60">
							<img  src="image/AVAYA/econtent/econtent_pdf@2x.png" ng-show="e.fileType != '' && e.fileType=='pdf'" class="width60">
							<img  src="image/AVAYA/econtent/econtent_file@2x.png" ng-show="e.fileType == ''" class="width70">
						</div>
						<div class="right">
							<p class="eContent-title changeColor">{{e.title}}</p>
							<p class="des">{{e.description}}</p>
							<div>
								<a class="eContent-btn changeBorderColor changeColor" ng-show="e.share" ng-if="version!='HPE'">Share</a>
								<a class="eContent-btn changeBorderColor" ng-show="e.share" ng-if="version=='HPE'">Share</a>
								<a href="{{e.link}}" target="_blank" class="eContent-btn changeBorderColor changeColor" ng-if="version!='HPE' && e.type=='URL'">View</a>
								<a href="{{e.link}}" target="_blank" class="eContent-btn changeBorderColor" ng-if="version=='HPE'  && e.type=='URL'" style="width: 100px;">View</a>
								<a href="{{e.link}}" target="_blank" class="eContent-btn changeBorderColor changeColor" ng-if="version!='HPE' && e.type=='File'">Download</a>
								<a href="{{e.link}}" target="_blank" class="eContent-btn changeBorderColor" ng-if="version=='HPE' && e.type=='File'" style="width: 100px;">Download</a>
							</div>
						</div>
					</div>
				</div>
			</ion-list>
		</ion-content >
	</div>
</div>
