<div class="header-title">
    <h1 class="list-title-h1">{{headerTitle}}</h1>
</div>
<div class="myagenda">
	<ion-content ion-sticky class="myagenda-scroll">
		<ion-list>
			<div class="myagenda-title">
				<div class="myagenda-title-deail">
					<div class="left">
						<p class="change-title changeColor">{{detailData.name}}</p>
						<p style="color: #ccc;">{{detailData.TT}}</p>
						<p class="block">{{detailData.description}}</p>
					</div>
					<a href="{{detailData.virtualLink}}" target="_blank" ng-if="detailData.virtualLink !=''">
						<div class="right" >
							<img class="webex-img" src="image/home/agenda/webex@2x.png" ng-if="version=='CXC'">
							<img class="webex-img" src="image/HPE/myagenda/08_hpe_my_agenda_01.png" ng-if="version=='HPE'">
							<img class="webex-img" src="image/AVAYA/myagenda/6893_cisco_agenda_item_detail_01@2x.png" ng-if="version=='AVAYA'">
							<p class="webex" ng-if="version=='CXC'">WebEx</p>
							<p class="webex" ng-if="version=='HPE'">Join Virtually</p>
						</div>
					</a>

				</div>
				<div class="myagenda-title-to" >
					<div class="left" ng-click="agendatoMap()" ng-if="detailData.mapName && detailData.mapName !=''">
						<img class="myagenda-title-to-img" src="image/home/6893_cisco_agenda_item_detail_02@2x.png" ng-if="version=='CXC'">
						<img class="myagenda-title-to-img" src="image/HPE/myagenda/08_hpe_my_agenda_02.png" ng-if="version=='HPE'">
						<img class="myagenda-title-to-img" src="image/AVAYA/myagenda/6893_cisco_agenda_item_detail_02@2x.png" ng-if="version=='AVAYA'">
						<p >Map</p>
					</div>
					<div class="left">
						<img class="myagenda-title-to-img" src="image/home/6893_cisco_agenda_item_detail_04@2x.png"  ng-if="version=='CXC'">
						<img class="myagenda-title-to-img" src="image/HPE/myagenda/08_hpe_my_agenda_03.png"  ng-if="version=='HPE'">
						<img class="myagenda-title-to-img" src="image/AVAYA/myagenda/6893_cisco_agenda_item_detail_04@2x.png"  ng-if="version=='AVAYA'">
						<p class="add-to-calendar">Add to Calendar</p>
					</div>
					<div class="left" ng-if="detailData.contents && detailData.contents
.length > 0" ng-click="goEcontent(detailData.contents)">
						<img class="myagenda-title-to-img" src="image/home/6893_cisco_agenda_item_detail_05@2x.png" ng-if="version=='CXC'">
						<img class="myagenda-title-to-img" src="image/HPE/myagenda/08_hpe_my_agenda_04.png" ng-if="version=='HPE'">
						<img class="myagenda-title-to-img" src="image/AVAYA/myagenda/6893_cisco_agenda_item_detail_05@2x.png" ng-if="version=='AVAYA'">
						<p class="add-to-calendar">eContent</p>
					</div>
					<div class="left" ng-if="detailData.surveylink!=''" ng-click="goSurvey(detailData.surveylink)">
						<img class="myagenda-title-to-img" src="image/home/6891_cisco_meeting_overview_07@2x.png" ng-if="version=='CXC'">
						<img class="myagenda-title-to-img" src="image/HPE/myagenda/08_hpe_my_agenda_05.png" ng-if="version=='HPE'">
						<img class="myagenda-title-to-img" src="image/AVAYA/myagenda/6893_cisco_agenda_item_detail_03@2x.png" ng-if="version=='AVAYA'">
						<p ng-if="version !='HPE'">Survey</p>
						<p ng-if="version =='HPE'">Feedback</p>
					</div>
				</div>
			</div>
			<ion-item class="item-divider " ng-if="detailData.leaders.length > 0">
				<p class="changeColor">Discussion Leaders</p>
			</ion-item>
			<div class="attendees-list-all">
				<a ng-repeat="n in detailData.leaders track by $index" ng-click="agendaGoProfile(n.id)">
					<div class="attendees-list">
						<div class="left">
							<img src="{{n.image}}">
						</div>
						<div class="right">
							<p class="attendees-title changeColor">{{n.name}}</p>
							<p class="block">{{n.title}} </p>
							<p class="colorCcc">{{n.company}}</p>
						</div>
					</div>
				</a>
			</div>
			<ion-item class="item-divider" ng-if="detailData.attendeesVisible==true">
				<p class="changeColor">Attendees</p>
				<div class="attendees-search">
					<div class="father">
						<img class="inside-search-img" src="image/home/attendees/ico-view@2x.png" ng-if="version=='CXC'">
						<img class="inside-search-img" src="image/HPE/search/search.png" ng-if="version=='HPE'">
						<img class="inside-search-img" src="image/AVAYA/icon_search_1.png" ng-if="version=='AVAYA'">
						<!--<img class="inside-search-img" ng-src="image/home/agenda/agenda_search@2x.png">	-->
						<input class="search-input changeBorderColor" placeholder="Search..."  ng-model="mySearch" ng-change="myagendaSearch()" id="mySearch">
					</div>
				</div>
				<div class="stepOne_Button " style="text-align: center;" ng-if="open!=true">
					<button class="changeColor changeBorderColor oneBorder round15" ng-if="version!='HPE'" ng-click="loadAttendData()">SHOW ATTENDEES</button>
					<button  class=" changeBorderColor twoBorder square colorBlack" ng-if="version=='HPE'" ng-click="loadAttendData()">SHOW ATTENDEES</button>
				</div>
			</ion-item>
			<div class="attendees-list-all" ng-if="detailData.attendeesVisible==true">

				<a ng-repeat="d in attenda track by $index" ng-click="goProfile(d.id)">
					<div class="attendees-list" >
						<div class="left myagenda" style=" padding: 10px;position: relative">
							<img src="{{d.image}}">
							<img src="image/HPE/v6_share_linkedin.png" class="linkIn" ng-if="d.linkedInURL && d.linkedInURL != ''"/>
						</div>
						<div class="right">
							<p class="attendees-title changeColor">{{d.name}}</p>
							<p class="block">{{d.title}}</p>
							<p class="colorCcc">{{d.company}}</p>
						</div>
					</div>
				</a>

				<!--<ion-infinite-scroll ng-if="myagendamore" immediate-check="false"   on-infinite="loadMore(tag)" distance="1%"></ion-infinite-scroll>-->

			</div>

		</ion-list>
	</ion-content>
</div>
