<div class="header-title">
	<h1 class="list-title-h1">{{headerTitle}}</h1>
</div>
<div class="notifications">
	<ul class="travelLogistics-ul">
		<li ng-class="{active:headerTitle==t.title}" ng-repeat="t in type track by $index" ng-click="notificationBanner(t.title)" class="changeBorderColor" >{{t.title}}</li>
	</ul>
	<div class="travelLogistics-tabs" >
		<div id="travelLogistics-tab0" class="travelLogistics-tab" >
			<ion-content >
				<ion-refresher
	            	icon="ios"
	            	pulling-text="Release to refresh" 
	            	on-refresh="doRefresh()">
	            </ion-refresher>
	            <ion-list>
	            	<div class="attendees-list-all ">
						<div class="attendees-list active" ng-click="read(n,n.id)"  ng-repeat="n in allNotifictionData track by $index" ng-show="headerTitle =='Notifications'">
							  <div class="left">
								  <span class="round changeBackgroundColor" ng-class="{colorGrey:n.isRead ==false}"></span>
							  </div>
							  <div class="right">
								  <p class="attendees-title changeColor">{{n.name}}</p>
								  <p class="">{{ n.time }}</p>
								  <p class="block">{{n.message}}</p>
							  </div>
						</div>
						<div class="attendees-list active" ng-show="headerTitle=='Surveys'|| headerTitle=='Feedback'" ng-repeat="s in allSurveys track by $index" ng-click="read(s,s.id,s.surveylink)">
							  <div class="left">
								  <span class="round changeBackgroundColor" ng-class="{colorGrey:s.isRead ==false}"></span>
							  </div>
							  <div class="right">
								  <p class="changeColor">{{s.name}}</p>
							  </div>
						</div>
						<div class="attendees-list active" ng-show="headerTitle=='Polls' && n.linkType=='p_notifications_polls'" ng-repeat="n in allNotifictionData track by $index" ng-click="getPoll(n.linkTo,n.id)">
							<div class="left">
								<span class="round changeBackgroundColor" ng-class="{colorGrey:n.isRead ==false}"></span>
							</div>
							<div class="right">
								<p class="changeColor">{{n.name}}</p>
							</div>
						</div>
					</div>
				</ion-list>
			</ion-content>
		</div>

	</div>
</div>


