<div class="header-title">
	<h1 class="list-title-h1">{{headerTitle}}</h1>
</div>
<div class="travelLogistics">
	<ul class="travelLogistics-ul">
		<li class="changeBorderColor" ng-repeat=" s in sj track by $index" ng-class="{active:s.type == 1}" ng-click="switch(s.id)">{{s.title}}</li>
	</ul>
	<div class="travelLogistics-tabs">
		<div class="travelLogistics-tab show" >
			<ion-content >
				 <ion-refresher 
	            	icon="ios"
	            	pulling-text="Release to refresh" 
	            	on-refresh="doRefresh()" 
	            	on-pulling="doPulling()">
	            </ion-refresher>
	            <ion-list>
					<div class="attendees-list-all" ng-repeat=" s in sj track by $index" ng-class="{hide:s.type == 0}" ng-if="s.title=='Maps'">
						<a  ng-repeat=" d in s.data track by $index" ng-click="toMap(d)">
							<div class="attendees-list">
								<div class="right">
									<p class="attendees-title changeColor">{{d.name}}</p>
									<p class="Grey">{{d.address}}</p>
									<p class="Grey">{{d.city+','+d.address+','+d.country}}</p>
								</div>
							</div>
						</a>
					</div>
					<div class="attendees-list-all" ng-repeat=" s in sj track by $index" ng-class="{hide:s.type == 0}" ng-if="(s.title=='Ding&Hotels' || s.title=='Activities') && version!='HPE'">
						<a  ng-repeat="d in s.data track by $index" href="{{d.googleMapURL}}" target="_blank">
							<div class="attendees-list">
								<div class="right">
									<p class="attendees-title changeColor">{{d.name}}</p>
									<p class="colorBlack">Phone</p>
									<p class="Grey">{{d.phone}}</p>
									<p class="colorBlack">Location</p>
									<p class="Grey">{{d.address}}</p>
									<p class="Grey">{{d.city+','+d.stateProvince +','+d.country}}</p>
								</div>
							</div>
						</a>
					</div>
					<div class="attendees-list-all" ng-repeat=" s in sj track by $index" ng-class="{hide:s.type == 0}" ng-if="(s.title=='Dining' || s.title=='Hotels') && version=='HPE'">
						<a  ng-repeat=" d in s.data track by $index" href="{{d.googleMapURL}}" target="_blank" ng-if="d.googleMapURL !=''">
							<div class="attendees-list">
								<div class="right">
									<p class="attendees-title changeColor">{{d.name}}</p>
									<p class="colorBlack">Phone</p>
									<p class="Grey">{{d.phone}}</p>
									<p class="colorBlack">Location</p>
									<p class="Grey">{{d.address}}</p>
									<p class="Grey">{{d.city+','+d.stateProvince +','+d.country}}</p>
								</div>
							</div>
						</a>
						<div class="attendees-list" ng-repeat=" d in s.data track by $index" ng-if="d.googleMapURL ==''">
							<div class="right">
								<p class="attendees-title changeColor">{{d.name}}</p>
								<p class="colorBlack">Phone</p>
								<p class="Grey">{{d.phone}}</p>
								<p class="colorBlack">Location</p>
								<p class="Grey">{{d.address}}</p>
								<p class="Grey">{{d.city+','+d.stateProvince +','+d.country}}</p>
							</div>
						</div>
					</div>
				</ion-list>
			</ion-content>
		</div>
	</div>
</div>



