<div class="header-title">
	<h1 class="list-title-h1">{{headerTitle}}</h1>
</div>


<div class="map">
	<ion-content >
		<div class="map-top">
			<div class="line">
				<p class="cx-color-font changeColor" >{{mapData.name}}</p>
				<p class="Grey" ng-if="mapData.TT">{{mapData.TT}}</p>
			</div>
			<div class="line" ng-if="mapData.phone != ''">
				<p class="tiny colorBlack">Phone</p>
				<p class="Grey">{{mapData.phone}}</p>
			</div>
		</div>
	<div class="map-top">
		<div class="line">
			<p class="cx-color-font changeColor">{{mapData.mapName}}</p>
			<p class="tiny changeColor">Location</p>
			<p class=" Grey">{{mapData.address}}</p>
			<p class="Grey"><span ng-if="mapData.city !=''">{{mapData.city+','}}</span><span ng-if="mapData.stateProvince !=''">{{mapData.stateProvince}}</span><span ng-if="mapData.country !=''">{{','+mapData.country}}</span></p>
		</div>
	</div>	
	<div class="map-deail">
		<div class="line">
			<div class="left">
				<span class="cx-color-font changeColor">Map</span>
			</div>
			<div class="right" >
				<a href="{{mapData.googleMapURL}}" target="_blank" ng-if="mapData.googleMapURL !=''">
					<img height="30px" src="image/home/travelLogistics/google_map72x72.png" />
				</a>

			</div>
		</div>
		<div class="map-img" >
			<img width="100%" src="{{mapData.mapImage}}" />
		</div>
	</div>
	</ion-content >
</div>

