<div class="header-title">
	<h1 class="list-title-h1">{{headerTitle}}</h1>
</div>
<div class="release" >
	<!--<ion-pane>-->
		<!--<ion-header-bar class="bar-dark">-->
			<!--<button ui-sref="main" class="button button-icon icon ion-navicon"></button>-->
			<!--<h1 class="title">Directions</h1>-->
		<!--</ion-header-bar>-->
		<!---->
		<!--&lt;!&ndash;&lt;!&ndash;<ion-footer-bar class="bar-dark">&ndash;&gt;&ndash;&gt;-->
			<!--&lt;!&ndash;&lt;!&ndash;<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>&ndash;&gt;&ndash;&gt;-->
		<!--&lt;!&ndash;&lt;!&ndash;</ion-footer-bar>&ndash;&gt;&ndash;&gt;-->
	<!--</ion-pane>-->
	<!--<ion-content id="map" ng-init="init()">-->

	<!--</ion-content>-->
	<ion-content scroll="true" overflow-scroll="true" >
		<iframe data-tap-disabled="true" style="min-height: 100%;width:100%;" ng-src="{{urlSrc}}"></iframe>

</div>
