<div class="header-title">
    <h1 class="list-title-h1">{{headerTitle}}</h1>
</div>
<div class="poll">
    <ion-content >
        <!--<div class="pollHeader">-->
            <!--<p>{{pollData.submitMessage}}</p>-->
        <!--</div>-->
        <div class="pollContent">
            <div class="pollContentTitle changeColor">
                <span>{{pollData.question}}</span>
            </div>
            <div class="pollResults" id="pollResults" >
                <canvas id="doughnut" class="chart chart-doughnut" chart-legend="true"
                        chart-data="data" chart-labels="labels" chart-colors ="color">
                </canvas>
                <div class="prompt">
                    <ion-scroll zooming="true" direction="y" style="height: 100px">
                        <div ng-repeat="d in pollData['answers'] track by $index" style="width: 100%;">
                            <div class="promptT" ng-class="{colorB8B9BD:$index==1,colorABC234:$index==0,color62BA12:$index==2}"><p>{{d.rate}}</p></div>

                            <div class="promptS" ><p>{{d.answer}}</p></div>
                        </div>
                    </ion-scroll>
                </div>



            </div>

        </div>
    </ion-content>

    <div class="pollBottom col-xs-12">
        <!--<button class="changeColor changeBorderColor">Submit</button>-->
        <a class=" changeColor changeBorderColor" ng-click="reFresh()">Refresh</a>
    </div>
</div>
