<div class="header-title">
    <h1 class="list-title-h1">{{headerTitle}}</h1>
</div>
<div class="poll">
    <ion-content >
        <!--<div class="pollHeader">-->
            <!--<p>{{pdata.pollInfo}}</p>-->
        <!--</div>-->
        <div class="pollContent">
            <div class="pollContentTitle changeColor">
                <span>{{pdata.question}}</span>
            </div>
            <div class="pollContentSelect">
                <div class="oneSelect" ng-repeat="d in pdata.answers track by $index">
                    <input type="radio" id="radio-1-{{$index}}" name="radio-1-set" class="regular-radio floatLeft" checked /><label for="radio-1-{{$index}}" class="floatLeft"></label>
                    <span class="floatLeft">{{d.answer}}</span>
                </div>
                <div style="clear: both"></div>
                <!--<div class="oneSelect">-->
                    <!--<input type="radio" id="radio-1-2" name="radio-1-set" class="regular-radio floatLeft" /><label for="radio-1-2" class="floatLeft"></label>-->
                    <!--<span class="floatLeft">question2</span>-->
                <!--</div>-->

            </div>
        </div>

    </ion-content>
    <div class="pollBottom col-xs-12">
        <!--<button class="changeColor changeBorderColor">Submit</button>-->
        <a class=" changeColor changeBorderColor" ng-click="resultsPoll()" ng-if="version!='HPE'">Submit</a>
        <a class=" changeColor changeBorderColor" ng-click="resultsPoll()" ng-if="version=='HPE'">Submit my answer</a>
    </div>
</div>
