<div class="header-title ">
	<h1 class="list-title-h1 width-100">{{headerTitle}}</h1>
</div>
<div class="lists-val">
	<ion-pane ng-controller="refresh_controller">
	        <ion-content >
	            <ion-refresher pulling-text="Release to refresh" on-refresh="doRefresh()"></ion-refresher>
	            <ion-list>
	                <!--<ion-item ng-repeat="item in items" ng-bind="item.name"></ion-item>-->
				<div ng-repeat="d in meetingData track by $index">
					<div ng-if="d.meetings.length < 2">
						<a ng-click="lists_deail(d.meetings[0].id)" >
							<div class="lists">
								<div class="row">
									<div class="col-xs-4  col-sm-3 lists-left">
										<img width="100%" ng-src="{{imgUrl+d.listImage}}">
									</div>
									<div class="col-xs-6 col-sm-7 lists-center">
										<p class="lists-title changeColor">{{d.name}}</p>
										<p class="lists-time color333">{{d.venueSubtitle1}}</p>
										<p class="lists-Subtitle">{{d.venueSubtitle2}}</p>
										<span class="lists-content color333">
											{{d.description}}
										</span>
									</div>
									<div class="col-xs-2 col-sm-2 lists-right">
										<img class="lists-right-go" src="image/lists/ico_carrot01@2x.png" ng-if="version=='CXC'">
										<img class="lists-right-go" src="image/HPE/icon_item_right.png" ng-if="version=='HPE'">
										<img class="lists-right-go" src="image/AVAYA/icon_item_right.png" ng-if="version=='AVAYA'">
									</div>
								</div>
							</div>
						</a>
					</div>
					<div ng-if="d.meetings.length > 1"  class="{{$index}}List" >
						<a class="open-lists " ng-click="lists_toggle($index)" ng-class="{open:d.open}">
							<div class="lists" >
								<div class="row newRow">
									<div class="col-xs-4  col-sm-3 lists-left">
										<img width="100%" ng-src="{{imgUrl+d.listImage}}" >
									</div>
									<div class="col-xs-6 col-sm-7 lists-center">
										<p class="lists-title changeColor">{{d.name}}</p>
										<p class="lists-time color333">{{d.venueSubtitle1}}</p>
										<p class="lists-Subtitle">{{d.venueSubtitle2}}</p>
										<span class="lists-content color333">
											{{d.description}}
										</span>
									</div>
									<div class="col-xs-2 col-sm-2 lists-right" style="position: relative">
										<span class="notificationsList "  ng-if="version!='HPE'">{{d.meetings.length}}</span>
										<span class="notificationsList changeBackgroundColor"  ng-if="version=='HPE'">{{d.meetings.length}}</span>
										<img class="lists-right-go" src="image/lists/ico_carrot01@2x.png" ng-if="version=='CXC'">
										<img class="lists-right-go" src="image/HPE/icon_item_right.png" ng-if="version=='HPE'">
										<img class="lists-right-go" src="image/AVAYA/icon_item_right.png" ng-if="version=='AVAYA'">
										<!--<img class="lists-right-go"  ng-if="version=='CXC'">-->
										<!--<img class="lists-right-go"  ng-if="version=='HPE'">-->
									</div>
								</div>
							</div>
						</a>
						<a  ng-if="d.meetings.length > 1"  ng-repeat="t in d.meetings track by $index"  class="list_more" ng-click="lists_deail(t.id)">
							<div class="lists open-lists-deail" ng-class="{open:d.open}" >
								<div class="row">
									<div class="col-xs-4  col-sm-3 lists-left">
										<img  ng-src="{{imgUrl+t.clientLogo}}" >
									</div>
									<div class="col-xs-6 col-sm-7 lists-center">
										<p class="lists-title changeColor">{{t.name}}</p>
										<p class="lists-time color333">{{t.meetingSubtitle1}}</p>
										<p class="lists-Subtitle ">{{t.meetingSubtitle2}}</p>
									</div>
								</div>
							</div>
						</a>

					</div>
				</div>


	            </ion-list>
	        </ion-content>
	</ion-pane>
</div>

