<div class="container">
    <ion-pane >
        <ion-content >
            <div class="login" >
                <div class="float-left">
                    <a class="loginLeftImg col-xs-12"   ng-click="comeback()" >
                        <img src="image/6891_cisco_meeting_overview_02@2x.png" ng-if="version=='CXC'">
                        <img src="image/HPE/v6_btn_back.png" ng-if="version=='HPE'">
                        <img src="image/AVAYA/6891_cisco_meeting_overview_02@2x.png" ng-if="version=='AVAYA'">
                    </a>
                </div>
                <div class="logo col-xm-12 col-lg-12" ng-if="version=='CXC'">
                    <img width="100%" src="image/cisco_logo@2x.png"  />
                </div>
                <div class="logo col-xm-12 col-lg-12" ng-if="version=='HPE'" style="padding-top: 80px;">
                    <img width="100%" src="image/HPE/app_logo.png"  />
                </div>
                <div class="logo col-xm-12 col-lg-12" ng-if="version=='AVAYA'">
                    <img width="100%" src="image/AVAYA/loading@2x.png"  />
                </div>
                <div class="stepOne col-xs-12 col-lg-12 col-md-12" >
                    <div class="stepOne_Message col-xm-12 col-lg-12 col-md-12">
                        <span class="info-icon"  ng-show="!passwordError">{{loginSecondMesssage}}</span>
                        <span class="info-icon_error" ng-show="passwordError">{{loginSecondMesssageError}}</span>
                    </div>
                    <div class="stepOne_Email  col-xm-12 col-lg-12 col-md-12 ">
                        <input type="password" name="password" placeholder="Password" id="loginPassword"/>
                    </div>
                    <div class="stepOne_Button ">
                        <button ng-click="Second()" class="changeColor changeBorderColor oneBorder round15" ng-if="version!='HPE'">Login</button>
                        <button ng-click="Second();" class="changeBorderColor twoBorder square colorBlack" ng-if="version=='HPE'"><b>Login</b></button>
                    </div>
                    <div class="stepOne_A ">
                        <a  class="changeColor"  ng-click="goupdatepassword()" ng-if="version=='CXC'">Forgot your password?</a>
                        <a  class="colorBlack"  ng-click="goupdatepassword()" ng-if="version!='CXC'">Forgot your password?</a>
                    </div>
                </div>
            </div>

        </ion-content>
        <div class="login_footer">
            <span class="login_footer_left"><a href="{{footerDateUrl}}" target="_blank" class="color333">{{footerDate}}</a></span>
            <span class="login_footer_center"><a href="{{footerCenterUrl}}" target="_blank" class="color333">{{footerCenter}}</a></span>
            <span class="login_footer_right">{{versionNumber}}</span>
        </div>
    </ion-pane>

</div>