<div class="container" ng-controller="loginEmailController">
    <ion-pane >
        <ion-content >
            <div class="login">
                <div class="logo col-xm-12 col-lg-12" ng-if="version=='CXC'">
                    <img width="100%" src="image/cisco_logo@2x.png"  />
                </div>
                <div class="logo col-xm-12 col-lg-12" ng-if="version=='HPE'" style="padding-top: 80px;">
                    <!--<div style="">-->

                    <!--</div>-->
                    <img width="100%" src="image/HPE/app_logo.png"  />
                </div>
                <div class="logo col-xm-12 col-lg-12" ng-if="version=='AVAYA'">
                    <img width="100%" src="image/AVAYA/loading@2x.png"  />
                </div>

                <div class="stepOne col-xm-12 col-lg-12 col-md-12" >
                    <div class="stepOne_Message col-xm-12 col-lg-12 col-md-12">
                        <span class="info-icon"  ng-show="!emailError">{{loginMesssage}}</span>
                        <span class="info-icon_error" ng-show="emailError">{{loginMesssageError}}</span>
                    </div>
                    <div class="stepOne_Email col-xm-12 col-lg-12 col-md-12 ">
                        <input type="email" name="email" placeholder="Email" id="loginEmail"/>
                    </div>
                    <div class="stepOne_Button ">
                        <button ng-click="First();" class="changeColor changeBorderColor oneBorder round15" ng-if="version!='HPE'">Submit</button>
                        <button ng-click="First();" class=" changeBorderColor twoBorder square colorBlack" ng-if="version=='HPE'"><b>Next</b></button>
                    </div>
                    <div class="stepOne_A ">
                        <a href="mailto:{{mailto}}?subject={{subject}}" class="changeColor" ng-if="version=='CXC'">Contact Support</a>
                        <a href="mailto:{{mailto}}?subject={{subject}}" class="colorBlack" ng-if="version!='CXC'">Contact Support</a>
                    </div>
                </div>
            </div>

        </ion-content>
        <div class="login_footer">
            <span class="login_footer_left"><a href="{{footerDateUrl}}" target="_blank" class="color333">{{footerDate}}</a></span>
            <span class="login_footer_center "><a href="{{footerCenterUrl}}" target="_blank" class="color333">{{footerCenter}}</a></span>
            <span class="login_footer_right">{{versionNumber}}</span>
        </div>
    </ion-pane>

</div>
