<div class="preferences-Ancestors">
	<div class="header-title">
		<h1 class="list-title-h1">{{headerTitle}}</h1>
	</div>
	<ion-content >
	<div class="preferences">
		 <div class="lump update-photo">
			 <div class="lump-border-bottom"></div>
			 <div class="left">
				 <a class="cx-btn changeColor changeBorderColor">Import Linkedin Profile</a>


				 <!--<input type="file" accept="image/jpeg" capture="camera" class="uploadImage" id="uploadPhoto" style="height: 50px;"/>-->
				 <a class="cx-btn changeColor changeBorderColor">Update Photo</a>
			 </div>
			 <script>
                 $("input[type=file]").change(function () {
                     /* 压缩图片 */
                     lrz(this.files[0], {
//                    width: 300 //设置压缩参数
                     }).then(function (rst) {
                         /* 处理成功后执行 */
                         $('#myself').attr("src",rst.base64);
                         rst.formData.append('base64img', rst.base64); // 添加额外参数
                     }).catch(function (err) {
                         console.log(err);
                         /* 处理失败后执行 */
                     }).always(function () {
                         /* 必然执行 */
                     })
                 })
			 </script>
			<div class="right">
				<input type="file" id="uploadImage" style="height: 50px;" class="uploadImage"/>
				<img src="{{data.image}}" id="myself"/>

				<!--<img src="{{data.image}}" id="myself">-->
			</div>
			<div class="lump-border-bottom"></div>
		 </div>

		 <div class="lump">
			<div class="lump-deail">
				<div class="left">
					First Name:
				</div>
				<div class="right">
					<input  type="text" ng-model="data.firstName" name="firstName"/>
				</div>
			</div>
			<div class="lump-border-bottom"></div>
		 </div>
		 <div class="lump">
			<div class="lump-deail">
				<div class="left">
					Last Name:
				</div>
				<div class="right">
					<input  type="text" ng-model="data.lastName" name="lastName"/>
				</div>
			</div>
			<div class="lump-border-bottom"></div>
		 </div>
		 <div class="lump">
			<div class="lump-deail">
				<div class="left">
					Title:
				</div>
				<div class="right">
					<input  type="text" ng-model="data.title" name="title"/>
				</div>
			</div>
			<div class="lump-border-bottom"></div>
		 </div>
		 <div class="lump">
			<div class="lump-deail">
				<div class="left">
					Company:
				</div>
				<div class="right">
					<input  type="text" ng-model="data.company" name="company"/>
				</div>
			</div>
			<div class="lump-border-bottom"></div>
		 </div>
		 <div class="lump">
			<div class="lump-deail ">
				<div class="left">
					Phone Number:
				</div>
				<div class="right">
					<input  type="text"  name="phoneNumber" ng-model="data.phoneNumber"/>
				</div>
			</div>
			 <div class="lump no-padding">
				<div class="lump-deail ">
					<div class="left">
						Show Phone Number
					</div>
					<div class="right">
						<label class="toggle">
						   <input type="checkbox" ng-checked="data.isPhoneShown" class="numberCheckBox" id="numberCheckBox">
						   <div class="track">
							   <div class="handle"></div>
						   </div>
						</label>
					</div>
				</div>
			 </div>
			<div class="lump-border-bottom"></div>
		 </div>
		 <div class="lump">
			<div class="lump-deail ">
				<div class="left">
					Email Address:
				</div>
				<div class="right">
					<span class="read-only" ng-bind="infoEmail"></span>
				</div>
			</div>
			 <div class="lump no-padding">
				<div class="lump-deail ">
					<div class="left">
						Allow Other Attendees to Email Me:
					</div>
					<div class="right">
						<label class="toggle">
							<input type="checkbox" ng-checked="!data.isEmailDisappear" id="emailCheckBox">
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</div>
				</div>
			 </div>
			<div class="lump-border-bottom"></div>
		 </div>

		 <div class="lump" ng-click="updatemypassword()" >
			<div class="lump-deail ">
				<div class="left">
					Update my password:
				</div>
				<div class="right">
					<div class="arrow-right arrow-box">
						 <i class="right-arrow1"></i><i class="right-arrow2"></i>
					</div>
				</div>
			</div>
			<div class="lump-border-bottom"></div>
		 </div>


		 <div class="lump">
			<div class="lump-deail ">
				<div class="left" style="    width: 45%;text-align: left;">
					LinkedIn Profile URL:
				</div>
				<div class="right" style="    width: 50%;">
					<div class="prederencesText" contenteditable="true">
						{{data.linkedInURL}}
					</div>
					<!--<input  type="text"  ng-model="data.linkedInURL"/>-->
				</div>
			</div>
			 <div class="lump no-padding">
				<div class="lump-deail ">
					<div class="left">
						Show LinkedIn Profile Button:
					</div>
					<div class="right">
						<label class="toggle">
							   <input type="checkbox" ng-checked="data.isLinkedInShown" id="linkedInCheckBox">
							   <div class="track">
								 <div class="handle"></div>
							   </div>
						</label>
					</div>
				</div>
			 </div>
			<div class="lump-border-bottom"></div>
			<div class="lump-deail " ng-click="bio(data.id)">
				<div class="left">
					Bio:
				</div>
				<div class="right">
					<textarea style="display: none">{{data.bio}}</textarea>
					<input  type="text" disabled= "true " value="View and Edit Bio" />
				</div>
			</div>
		 </div>

		 <div class="lump lump-padding">
			 <div class="lump-border-bottom"></div>
			 <div class="lump-deail lump-width">
				 <div class="left">
					 I would like to receive notifications from this mobile app:
				 </div>
				 <div class="right">
					 <label class="toggle">
					     <input type="checkbox" ng-checked="data.receiveNotifications" id="notificationsCheckBox">
					     <div class="track">
						     <div class="handle"></div>
					     </div>
					 </label>
				 </div>
			 </div>
		</div>
		<div class="lump">
			<div class="lump-border-bottom"></div>
				<div class="lump-deail lump-width">
					<div class="left">
						Notify me when someone comments on my Activity Stream posts:
					</div>
					<div class="right">
						<label class="toggle">
							   <input type="checkbox" ng-checked="data.notifyComments" id="commentsCheckBox">
							   <div class="track">
								 <div class="handle"></div>
							   </div>
						</label>
					</div>
				</div>
		</div>
		<div class="lump">
			<div class="lump-border-bottom"></div>
			<div class="lump-deail lump-width">
				<div class="left">
					Notify me when someone Likes my Activity Stream posts:
				</div>
				<div class="right">
					<label class="toggle">
					   <input type="checkbox" ng-checked="data.notifyLikes" id="likesCheckBox">
					   <div class="track">
						   <div class="handle"></div>
					   </div>
					</label>
				</div>
			</div>
		</div>
		<div class="lump lump-padding no-padding lump-bottom-margin">
			<a class="save-changes-button changeBackgroundColor" ng-click="postSave()" ng-if="version =='CXC'">Save Changes</a>
			<a class="save-changes-button changeBackgroundColor" ng-click="postSave()" ng-if="version =='HPE'">Save Updates</a>
		</div>
		<div class="lump lump-padding no-padding lump-bottom-margin">
			<a class="save-changes-button logOut" ng-click="showConfirm()" >Log Out</a>
		</div>

	</div>

		<!--<div class="cropArea" ng-class="{jtxs:jtSHow==true}">-->
			<!--<img-crop image="myImage" result-image="myCroppedImage" area-type="square">-->
				<!--<canvas width="100" height="100" style="width:100%;height:100%;"></canvas>-->
			<!--</img-crop>-->

		<!--</div>-->
		<!--<div style="display: none;">Cropped Image:</div>-->
		<!--<div style="display: none;"><img ng-src="{{myCroppedImage}}" /></div>-->


	</ion-content >


</div>

<div class="bio-Ancestors " style="display: none;">
	<div class="header-title" >
		<a class="loginLeftImg" ng-click="go_backPreferences()">
			<img src="image/6891_cisco_meeting_overview_02@2x.png" ng-if="version=='CXC'">
			<img src="image/HPE/05_hpe_overview_02.png" ng-if="version=='HPE'">
		</a>
		<h1 class="list-title-h1" style="margin-left: 0">{{headerTitle}}</h1>
		<div class="header-menu" ng-click="header_toggle()">
			<img src="image/header/6891_cisco_meeting_overview_01@2x.png" ng-if="version=='CXC'">
			<img src="image/HPE/05_hpe_overview_01.png" ng-if="version=='HPE'">
		</div>
	</div>
	<div class="bio" id="bioData" contenteditable="true" >
		{{data.bio}}
	</div>


	<div class="save-changes-bottom " ng-click="save_changes_bottom()" >
		<a class="save-changes-button changeBackgroundColor">Save Changes</a>
	</div>
</div>


