<div ng-controller="profileController">
<div class="header-title"> 
	<h1 class="list-title-h1">My Profile</h1>
</div>
<div class="attendees-email">
<div class="attendees-list-all">
		<div class="attendees-list email">
			<div class="left">
				<img  src="image/test/1.png">
			</div>
			<div class="right">
				<p class="attendees-title">Fa Fa Fa Fa Fa Fa</p>
				<p class="">Fa Fa </p>
				<a class="cx-btn cx-btn-80" ng-click="message()">Email</a>
				<a class="cx-btn cx-btn-80">Linkedln</a>
			</div>
		</div>
		<div class="edit-profile">
			<a class="cx-btn cx-btn-auto">Edit Profile & Preferences</a>
		</div>
		<div class="profile-text">
			Hello World!
		</div>
</div>	
</div>

<div class="new-message animation-time" ng-class="{open: messageopen== true}">
	<div class="new-message-header">
		<h1 class="list-title-h1" ng-bind="newmessageheader">New Message</h1>
		<div class="lump">
			<div class="left" ng-click="messageCancel()">
				<a>Cancel</a>
			</div>
			<div class="center">
				
			</div>
			<div class="right" ng-class="{cxcolor: messagesend== true}" >
				<a ng-click="messagesendclick()">send</a>
				<div class="ele-hide"></div>
			</div>
		</div>	
	</div>
	<div class="new-message-deail">
		<div class="lump">
			<div class="left">
				<label >To:</label>
			</div>
			<div class="right">
				<input class="cxcolor"  type="text"  ng-focus="messagefocus()" ng-blur="messageblur()" value="neo_chen@designreactor.com," />
			</div>
		</div>
		<div class="lump">
			<div class="left">
				<label >Cc:</label>
			</div>
			<div class="right">
				<input   type="text"  ng-focus="messagefocus()" ng-blur="" ng-model="cc"/>
			</div>
		</div>
		<div class="lump">
			<div class="left">
				<label >Bcc:</to></label>
			</div>
			<div class="right">
				<input  type="text"  ng-focus="messagefocus()" ng-blur="" ng-model="bcc" />
			</div>
		</div>
		<div class="lump">
			<div class="left">
				<label >Subject:</label>
			</div>
			<div class="right">
				<input   type="text"  ng-focus="subject()" ng-blur="" ng-model="newmessageheader" />
			</div>
		</div>
		<div class="sent-from-my-iPod">
			<span>sent from my iPod</span>
		</div>
	</div>
	<div class="cx-model" ng-class="{open: modelopen== true}" ng-click="modelclose()"></div>
	<div class="cx-model-noclick" ng-class="{open: modelnoclickopen== true}"></div>
	<div class="pull-up-menu " ng-class="{open: upmenuopen== true}" ng-click="modelclose()">
		<ul class="pull-up-menu-ul">
			<li ng-click="deleteDraft()" class="red">Delete Draft</li>
			<li class="bull">Save Draft</li>
		</ul>
		<a class="last-li">Cancel</a>
	</div>	
	<div class="scale-menu"  ng-class="{open: scalemenuopen== true}">
		<div class="scale-menu-top">
			<h4>Invalid Address</h4>
			<p>"hh" does not appear to be a vakid email address.Do you want to send it anyway?</p>
		</div>	
		<div class="scale-menu-bottom">
			<ul class="scale-menu-bottom-ul">
				<li class="left strong" ng-click="scalemenuclose()">Cancel</li>
				<li class="right" ng-click="scalemenuclose()">Send</li>
			</ul>
		</div>
	</div>
</div>
</div>

